<!--<p>transaction works!</p>-->
<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="product-div">
  <div fxLayout="column" fxFlex="30" class="mr-1">
  </div>
  <div fxLayout="column" fxFlex="40" class="mr-1">
    <mat-card class="ml-2 mt-2">
      <div class="form-container">
        <form [formGroup] = transactionForm>
          <h1 style="text-align: center">Transaction Form</h1>
          <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field class="col-8">
              <mat-label>Transaction Type</mat-label>
              <mat-select  formControlName="transaction_id">
                <mat-option *ngFor="let transaction of transactionTypeData" (blur)="enableAgent()" [value]="transaction.id">
                  {{transaction.transaction_type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div [hidden]="employee_value" class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field class="col-8">
              <mat-label>Employee</mat-label>
              <mat-select  formControlName="employee_id">
                <mat-option *ngFor="let employee of employeeList" [value]="employee.id">
                  {{employee.user_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field class="col-6">
              <mat-label>Material</mat-label>
              <mat-select  formControlName="material_id">
                <mat-option *ngFor="let  material of materialList" [value]="material.id">
                  {{material.material_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-6">
              <mat-label> Date</mat-label>
              <input matInput
                     [matDatepicker]="picker1"
                     formControlName="received_date"
                     [min]="minDate"
                     [max]="maxDate">
              <mat-datepicker-toggle matSuffix [for]="picker1">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="container" fxLayout="row" fxLayout.xs="row" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field class="col-6">
              <mat-placeholder>Quantity</mat-placeholder>
              <input matInput type="number" formControlName="quantity" class="text-right">
            </mat-form-field>
            <mat-form-field class="col-6">
              <mat-placeholder>Comment</mat-placeholder>
              <input matInput formControlName="transaction_comment" class="text-right">
            </mat-form-field>
          </div>
        </form>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
          <button mat-button mat-stroked-button class="btn btn-info" (click)="saveTransaction()">Save</button>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxLayout="column" fxFlex="30" class="mr-1">
  </div>
</div>
