<div id ="job-transaction-table-div" *ngIf="jobTransactionData?.length">
  <table class="table" id="my-table" >
    <thead>
    <tr>
      <th>SL. NO</th>
      <th>Statement For Transaction</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of jobTransactionData ; let indexOfelement = index;">
<!--    <tr *ngFor="let item of jobTransactionData ; let indexOfelement = index;" [hidden]="jobTransactionData.length === 0">-->
      <td>{{indexOfelement+1}}</td>
      <td>{{item.material_quantity.toFixed(3)}}gm {{item.task_name}}ed by {{item.person_name}} on {{item.date}} at {{item.time}} &nbsp;&nbsp;&nbsp;{{((indexOfelement+1)==1)? "[JOB STARTED]": " "}}</td>
    </tr>
    <tr [hidden]="!(jobTransactionData.length === 0)">
      <td>NO TRANSACTION TO SHOW</td>
    </tbody>
  </table>
</div>



