<div fxLayout.xs="column" fxLayout="row" fxFlexFill>
    <div fxFlex="40">
        <div style="min-height: 92vh; background-color: rgba(202, 199, 224, 0.81);">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Purchase Form</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <div fxFlex="80">
                            <form [formGroup]="purchaseMasterForm">
                                <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                                    <mat-form-field fxFlex="50">
                                        <mat-label>Invoice number</mat-label>
                                        <input type="text" matInput formControlName="invoice_number" placeholder="Invoice number">
                                    </mat-form-field>
                                    <mat-form-field fxFlex="50">
                                        <mat-label>Case number</mat-label>
                                        <input type="text" matInput formControlName="case_number" placeholder="Case number">
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <div fxFlex="50">
                            <form [formGroup]="transactionDetailsForm" class="transaction-detail">
                                <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                                    <ng-select [items]="vendors" fxFlex="80" (change)="onSelectedVendor($event)" bindLabel="ledger_name" class="custom" bindValue="id" formControlName="ledger_id" placeholder="Select Vendor">
                                    </ng-select>
                                    <div fxFlex="20" *ngIf="selectedLedger">
                                        <popover-content #myPopover title="{{selectedLedger.ledger_name}}" placement="right" [animation]="true" [closeOnClickOutside]="true">

<!--                                            <b>{{selectedLedger.address1 + ' | ' + selectedLedger.address2}}</b>-->
                                            <span style="color: #00b3ee">billing_name: {{selectedLedger.billing_name}}</span><br>
                                            <span style="color: #C21F39">Address: {{selectedLedger.address1}}</span><br>
                                            <span style="color: #00b3ee">Mobile1 : {{selectedLedger.mobile1}}</span><br>
                                            <span style="color: #C21F39">Area: {{selectedLedger.area}}</span><br>
                                            <span style="color: #00b3ee">Pin: {{selectedLedger.pin}}</span>
<!--                                            <b><i><span style="color: #ffc520">Popover With</span></i></b> <small>Html support</small>.-->
                                        </popover-content>

                                        <a [routerLink]="" [popover]="myPopover">Info</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div fxFlex="40">
                            <form [formGroup]="transactionMasterForm">
                                <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                                    <mat-form-field class="example-full-width" fxFlex="90">
                                        <mat-label>Purchase date (dd/mm/yyyy)</mat-label>
                                        <input matInput [matDatepicker]="purchaseDatePicker" formControlName="transaction_date" placeholder="dd/mm/yyyy">
                                        <mat-datepicker-toggle matSuffix [for]="purchaseDatePicker">
                                            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #purchaseDatePicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </form>
                        </div>
                    </div>

                    <hr size="10">

                    <form [formGroup]="purchaseDetailsForm" class="purchase-details">

                        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                            <mat-form-field fxFlex="30">
                                <mat-label>Product category</mat-label>
                                <mat-select formControlName="product_category_id" placeholder="Product category" (ngModelChange)="onProductCategorySelected($event)">
                                    <mat-option *ngFor="let productCategory of productCategories" [value]="productCategory.id">
                                        {{productCategory.category_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <ng-select [items]="productsByCategory" fxFlex="30" (change)="onSelectedProduct($event)" bindLabel="product_name" class="custom" bindValue="id" formControlName="product_id" placeholder="Product">
                            </ng-select>
                        </div>


                        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                            <mat-form-field fxFlex="20">
                                <mat-label>Rate</mat-label>
                                <input type="number" class="text-right" matInput formControlName="rate" placeholder="Rate">
                            </mat-form-field>

                            <mat-form-field fxFlex="20" *ngIf="selectedProduct">
                              <mat-label>Qty <b>{{selectedProduct.purchase_unit_name}}</b></mat-label>
                                <input type="number" class="text-right" matInput formControlName="purchase_quantity" (change)="setStockQuantity()" placeholder="Quantity">

                            </mat-form-field>

                            <mat-form-field fxFlex="20">
                                <mat-label>Amount</mat-label>
                                <input matInput [value]="currentItemAmount" readonly>
                            </mat-form-field>

                            <mat-form-field fxFlex="20" *ngIf="selectedProduct && selectedProduct.purchase_unit_id!=selectedProduct.sale_unit_id">
                              <mat-label>Stock Qty <b>{{selectedProduct.sale_unit_name}}</b></mat-label>
                                <input type="number" class="text-right" matInput formControlName="stock_quantity" placeholder="Stock quantity">

                            </mat-form-field>
                        </div>
                        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                            <button class="pull-right" mat-stroked-button (click)="addItem()">Add</button>
                            <button class="pull-right" mat-stroked-button (click)="clearPurchaseForm()">clear</button>
                        </div>
                    </form>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div fxFlex="60" style="background-color: rgba(3,2,12,0.81);" >


      <div style="min-height: 92vh; background-color: rgba(202, 199, 224, 0.81);">
        <mat-slide-toggle [(ngModel)]="isShowAllPurchaseList" (change)="onToggle($event)">Slide me!</mat-slide-toggle>

            <mat-card *ngIf="purchaseDetails.length>0 && !isShowAllPurchaseList"  class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <fa-icon></fa-icon>&nbsp;Purchase details</mat-card-title>
                    <mat-card-subtitle>
                        <div *ngIf="purchaseMaster && selectedLedger">
                            <span><h3>{{selectedLedger.billing_name}}</h3></span>
                            <span>Address: {{selectedLedger.address1}},Mob: {{selectedLedger.mobile1}}</span><br>
                            <span>Invoice: {{purchaseMaster.invoice_number}},Challan no: {{purchaseMaster.case_number}}</span><br>
                        </div>
                    </mat-card-subtitle>

                </mat-card-header>

                <mat-card-content>
                    <table class="table table-bordered" id="purchase-detail-list">
                        <thead>
                            <tr>
                                <th class="w-10">SL</th>
                                <th class="w-30">Product</th>
                                <th class="w-10">Rate</th>
                                <th class="w-10">Qty</th>
                                <th class="w-10">Amount</th>
                                <th class="w-30 text-center" colspan="2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [class.editable-purchase-detail-item]="indexOfElement==editablePurchaseDetailItemIndex" *ngFor="let purchaseDetail of purchaseDetails;let indexOfElement=index">
                                <td>{{indexOfElement+1}}</td>
                                <td>{{purchaseDetail.product.product_name}} ({{purchaseDetail.product.category_name}})</td>

                              <td id="rate" class="text-right">
                                <span *ngIf="purchaseDetail.isEditable">
                                  <input appAutofocus type='number'  [(ngModel)]="purchaseDetail.rate" class="cellInput">
                                  <button (click)="purchaseDetail.isEditable = false"  style="background-color: #c4c6ca; height: 30px; width: 30px; border-radius: 5px;">
                                    <fa-icon [icon]="faCheck"></fa-icon>
                                  </button>
                                </span>
                                <a *ngIf="!purchaseDetail.isEditable" [routerLink]="" (click)="purchaseDetail.isEditable = true" >{{purchaseDetail.rate | currency:"&#8377; "}}</a>

                              </td>


                              <td class="text-right">
<!--                                  {{purchaseDetail.purchase_quantity + ' (' + purchaseDetail.unit.unit_name + ')'}}-->
                                <a *ngIf="!purchaseDetail.isEditable" [routerLink]="" (click)="purchaseDetail.isEditable = true">{{purchaseDetail.purchase_quantity + ' (' + purchaseDetail.unit.unit_name + ')'}}</a>
                                <span *ngIf="purchaseDetail.isEditable">
                                  <input appautofocus type='number' [(ngModel)]="purchaseDetail.purchase_quantity" class="cellInput">
                                  <button (click)="purchaseDetail.isEditable = false" style="background-color: #c4c6ca; height: 30px; width: 30px; border-radius: 5px;">
                                     <fa-icon [icon]="faCheck"></fa-icon>
                                  </button>
                                </span>
                              </td>
                                <td class="text-right pr-5">{{(purchaseDetail.rate * purchaseDetail.purchase_quantity) | number: '1.2' | currency:"&#8377; "}}</td>
                                <td class="text-right">
                                    <a [routerLink]="" (click)="populatePurchaseDetailsForm(purchaseDetail , indexOfElement)"><fa-icon class="edit" [icon]="faPencilAlt"></fa-icon></a>
                                </td>
                                <td class="text-right">
                                    <a [routerLink]="" (click)="deletePurchaseDetailItem(purchaseDetail)"><fa-icon class="edit" [icon]="faTrashAlt"></fa-icon></a>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="4">Total</td>
                                <td class="text-right">{{currentPurchaseTotal | number: '1.2' | currency: "&#8377; "}}</td>
                                <td colspan="2"></td>
                            </tr>

                            <tr *ngFor="let extraItem of extraItemDetails">
                                <td colspan="4"><b>{{extraItem.item_type==1?'Add: ' : 'Less: '}}</b>{{extraItem.item_name}}</td>
                                <td class="text-right">{{extraItem.amount}}</td>
                                <td colspan="1" class="text-right">
<!--                                  <span><fa-icon class="edit" [icon]="faUserEdit"></fa-icon></span>-->
                                </td>
                                <td colspan="1" class="text-right">
<!--                                  <span (click)="deleteExtraItemDetails(extraItemDetails)"><fa-icon class="delete" [icon]="faTrashAlt"></fa-icon></span>-->
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4">Gross amount</td>
                                <td class="text-right">{{grossTotal | number: '1.2' | currency: "&#8377; "}}</td>
                                <td colspan="2"></td>
                            </tr>

                        </tfoot>
                    </table>
                  <section class="example-section">
                    <mat-checkbox class="example-margin" [(ngModel)]="isExtraItemAdded">Extra item</mat-checkbox>

                    <div *ngIf="isExtraItemAdded" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="5px" fxLayoutGap.xs="0">
                      <form [formGroup]="extraItemsForm">
                        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                          <mat-form-field fxFlex="30">
                            <mat-label>Type</mat-label>
                            <mat-select formControlName="item_type" placeholder="Extra item">
                              <mat-option *ngFor="let extraItemType of extraItemTypes" [value]="extraItemType.value">
                                {{extraItemType.name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field fxFlex="30">
                            <mat-label>Extra item</mat-label>
                            <mat-select formControlName="extra_item_id" placeholder="Extra item" required>
                              <mat-option *ngFor="let extraItem of extraItems | slice: 1" [value]="extraItem.id">
                                {{extraItem.item_name}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field fxFlex="20">
                            <mat-label>Amount</mat-label>
                            <input type="number" class="text-right" matInput formControlName="amount" placeholder="Extra amount" required>
                          </mat-form-field>
                          <button mat-raised-button color="primary" (click)="addExtraItemForPurchase()" [disabled]="extraItemsForm.invalid">Add</button>
                        </div>
                      </form>
                    </div>
                  </section>



                  <mat-checkbox class="example-margin" [(ngModel)]="isAmountPaid" (change)="setPaidAmount()">Amount Paid</mat-checkbox>
                  <div *ngIf="isAmountPaid" class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="5px" fxLayoutGap.xs="0">
                    <form [formGroup]="paidAmountForm">
                      <mat-form-field fxFlex="30">
                        <mat-label>Mode</mat-label>
                        <mat-select formControlName="ledger_id" (ngModelChange)="onSelectedPaymentMode($event)">
                          <mat-option *ngFor="let mode of paymentModes" [value]="mode.id">
                            {{mode.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <mat-form-field fxFlex="40">
                          <mat-label>Amount</mat-label>
                          <input type="number" class="text-right" matInput formControlName="amount" placeholder="Paid amount" required (click)="$event.target.select()">
                        </mat-form-field>
                      </div>
                    </form>
                  </div>

                    <form [formGroup]="purchaseMasterForm" class="">
                        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                            <mat-form-field fxFlex="60">
                                <mat-label>Comment</mat-label>
                                <input type="textarea" matInput formControlName="comment" placeholder="Comment">
                            </mat-form-field>
                        </div>
                    </form>

                    <div class="container mt-3" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <button mat-stroked-button color="primary" mat-stroked-button (click)="onSubmit()">Save Purchase</button>
                    </div>

                </mat-card-content>
            </mat-card>


          <!--          purchase list-->
            <mat-card *ngIf="purchaseDetails.length==0 || isShowAllPurchaseList">

              <mat-card-header>
                <mat-card-title></mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <table class="table table-bordered" id="purchase-list">
                  <thead>
                    <tr>
                      <th class="w-10">SL</th>
                      <th class="w-30">Transaction number</th>
                      <th class="w-10">Vendor</th>
                      <th class="w-10">Date</th>
                      <th class="w-10">Amount</th>
                      <th class="w-30 text-center" colspan="2">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let purchase of purchaseList| paginate: { itemsPerPage: pageSize, currentPage: p };let indexOfElement=index">
                    <td>{{indexOfElement+1}}</td>
                    <td>{{purchase.transaction_number}}</td>
                    <td class="text-left">{{purchase.ledger_name}}</td>
                    <td class="text-right">{{purchase.transaction_date}}</td>
                    <td class="text-right pr-5">{{purchase.amount}}</td>
                    <td class="text-right">
                      <span ><fa-icon class="edit" [icon]="faUserEdit"></fa-icon></span>
                    </td>
                    <td class="text-right">
                      <span ><fa-icon class="edit" [icon]="faTrashAlt"></fa-icon></span>
                    </td>
                  </tr>
                  </tbody>

                  <tfoot>
                    <tr>
                      <td colspan="4">Total</td>
                      <td class="text-right"></td>
                      <td colspan="2"></td>
                    </tr>
                  </tfoot>
                </table>
              </mat-card-content>
              <mat-card-actions>
                <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
                  <!--    https://www.npmjs.com/package/ngx-pagination-->
                  <!--    npm i ngx-pagination-->
                  <pagination-controls (pageChange)="p = $event"
                                       responsive="true"
                                       autoHide="true"
                                       previousLabel="আগে"
                                       nextLabel="পরে"
                                       screenReaderPaginationLabel="Pagination"
                                       screenReaderPageLabel="page"
                                       directionLinks="true">
                  </pagination-controls>
                </div>
              </mat-card-actions>

            </mat-card>
        </div>
    </div>
</div>


<!--developer div-->
<div fxLayout.xs="column" id="developer-area" fxLayout="row" fxFlexFill *ngIf="true">

    <div fxFlex="30">
        <mat-card class="example-card">
            <mat-card-header>
                <h2 style="color: #c4c6ca;">Developer Area 1</h2>
            </mat-card-header>
            <mat-card-content>
              <pre>
                extraItems= {{extraItems | json}}
                purchaseDetailsForm= {{purchaseDetailsForm.value | json}}
              </pre>
                <pre>
                  isAmountPaid= {{isAmountPaid}}
                  transactionMaster = {{transactionMaster | json}}
                  transactionDetails = {{transactionDetails | json}}
                </pre>
                <hr>
                <pre>
                <pre>
                    purchaseContainer = {{purchaseContainer | json}}
                </pre>
                  <hr>
                  <pre>
                    purchaseList = {{purchaseList | json}}
                </pre>
<!--          valid = {{customerForm.valid | json}}-->
<!--          invalid = {{customerForm.invalid | json}}-->
<!--          dirty = {{customerForm.dirty | json}}-->
<!--          enabled = {{customerForm.enabled | json}}-->
<!--          disabled = {{customerForm.disabled | json}}-->
<!--          touched = {{customerForm.touched | json}}-->
<!--          untouched = {{customerForm.untouched | json}}-->
<!--          errors = {{customerForm.errors | json}}-->
<!--          status = {{customerForm.status | json}}-->
        </pre>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card class="example-card">
            <mat-card-header>
                <h2 style="color: #c4c6ca;">Developer Area 2</h2>
            </mat-card-header>
            <mat-card-content>
                <pre>
                  transactionDetailsForm = {{transactionDetailsForm.value | json}}
                </pre>
                <hr>
                <pre>
                  purchaseMaster = {{purchaseMaster | json}}
                  purchaseDetails = {{purchaseDetails | json}}
                </pre>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card class="example-card">
            <mat-card-header>
                <h2 style="color: #c4c6ca;">Developer Area 3</h2>
            </mat-card-header>
            <mat-card-content>
                <pre>
                  defaultValues= {{defaultValues | json}}
                </pre>
                <hr>
              <pre>
                products= {{products | json}}
              </pre>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card class="example-card">
            <mat-card-header>
                <h2 style="color: #c4c6ca;">Developer Area 4</h2>
            </mat-card-header>
            <mat-card-content>
                <pre>
                  paidAmountForm = {{paidAmountForm.value | json}}
                  paymentTransactionMaster = {{paymentTransactionMaster | json}}
                  paymentTransactionDetails = {{paymentTransactionDetails | json}}
                </pre>
              <hr>
              <pre>
                  extraItemDetails = {{extraItemDetails | json}}
              </pre>
              <hr>
                <pre>
                  purchaseMasterData = {{purchaseMasterData | json}}

                </pre>


              <div id="print-section">
                I am going to print this
                <div id="test">This is testing</div>
                <!--Your html stuff that you want to print-->
              </div>

              <!--
                2)- Add the directive name in your button (ngxPrint),
                3)- Affect your ID to printSectionId
              -->
              <button printSectionId="print-section" ngxPrint>print</button>
              <button
                [useExistingCss]="true"
                printSectionId="print-section"
                ngxPrint>print with current css</button>
              <button
                styleSheetFile="assets/print_css/custom1.css,assets/print_css/custom2.css"
                printSectionId="print-section"
                ngxPrint>print with css file</button>
            </mat-card-content>
        </mat-card>
    </div>

</div>
