<div fxLayout.xs="column"  fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id ="bill-orderDetails-div">
  <div  fxFlex="100" class="col">
    <div class="d-flex">
      <div  class="col-2" style="text-align: left" [hidden]="!isPassbookShown">
        <button class="btn-primary" mat-stroked-button (click)="backToPrevious()">
          <mat-icon>keyboard_arrow_left</mat-icon>
                    Back
        </button>
      </div>
      <div  class="col-2" style="text-align: left" [hidden]="isPassbookShown">
        <button class="btn-primary" mat-stroked-button [routerLink]="['/due_by_agent']">
          <mat-icon>keyboard_arrow_left</mat-icon>
          Back
        </button>
      </div>
      <div class="col-8"></div>
      <div class="col-2" style="text-align: right">
        <button class="btn-primary"
                mat-stroked-button
                [printStyle]="printDivStyle"
                printSectionId="printBillDiv"
                ngxPrint ><mat-icon>print</mat-icon>
        </button>
      </div>
    </div>

    <div id="printBillDiv">
      <div [hidden]="isPassbookShown">
        <table class="table" >
          <thead>
          <tr>
            <th>SL No.</th>
            <th>Customer Name</th>
            <th>LC Due</th>
            <th>Gold Due</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let data of customerList; let indexOfelement = index" >
            <td>{{indexOfelement+1}}</td>
            <td>{{data.user_name | uppercase}}</td>
            <td>{{data.LC_Due.toFixed(3) | currency:"&#8377;"}}</td>
            <td>{{data.gold_due.toFixed(3)}}gm</td>
            <td>
              <button class="btn btn-info" (click)="viewPassbook(data.id,data.user_name)" >View Passbook</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div [hidden]="!isPassbookShown" >
        <div style="text-align: center">
          <h3>Transaction of  <b>{{customerName}}</b></h3>
        </div>
        <table class="table" style="background-color: #d9dd9b">
          <thead>
          <tr>
            <th style="text-align: center">SL No.</th>
            <th style="text-align: center">Date</th>
            <th style="text-align: center">Statement</th>
            <th style="text-align: center">Reference Number</th>
            <th style="text-align: center">Gold </th>
            <th style="text-align: center">LC</th>
            <th style="text-align: center">LC Balance</th>
            <th style="text-align: center">Gold Balance</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let data of CustomerPassbookList; let indexOfelement = index" >
            <td style="text-align: center">{{indexOfelement+1}}</td>
            <td style="text-align: center">{{data.created_at | date:"dd-MM-yyyy HH:mm:ss"}}</td>
            <td style="text-align: center">{{data.statement}}</td>
<!--            <td style="text-align: center" *ngIf="data.id" [routerLink]="['/completed_bill_details/', data.id]"><a target="_blank">{{data.reference_number}}</a></td>-->
            <td style="text-align: center" *ngIf="data.id" ><a href="/completed_bill_details/{{data.id}}" target="_blank">{{data.reference_number}}</a></td>
            <td style="text-align: center" *ngIf="!data.id">{{data.reference_number}}</td>
            <td style="text-align: right">{{data.gold_received === "--"? "--":data.gold_received.toFixed(3)+" gm" }}</td>
            <td style="text-align: right">{{data.cash_received === "--"? "--": data.cash_received.toFixed(3) |currency:"&#8377;"}}</td>
            <td style="text-align: right">{{data.LC_balance .toFixed(3)|currency:"&#8377;"}}</td>
            <td style="text-align: right">{{data.gold_balance.toFixed(3)+" gm" }}</td>

          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>



