<div class="d-flex justify-content-center">
  <div class="p-2 bd-highlight">
    <div class="card" style="">
      <div>
        <button type="button" class="btn btn-warning" [routerLink]="['/bill']"><mat-icon> call_missed</mat-icon> Back</button>
      </div>
      <h1>Orders</h1>
      <div class="card-body">
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Search..." [(ngModel)]="searchTerm" name="search" type="text" autofocus>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Items per page" [(ngModel)]="pageSize" name="PageSize" type="text">
            </mat-form-field>
            <table class="table" id="my-table">
              <thead>
              <tr>
                <th class="text-center">SL No.</th>
                <th class="text-center">Date</th>
                <th class="text-center">Order Number</th>
                <th class="text-center">Agent</th>
                <th class="text-center">No. of Orders</th>
                <th class="text-center">Finished</th>
                <th class="text-center">WIP</th>
                <th class="text-center">Not Started</th>
                <th class="text-center">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr  *ngFor="let data of orders | filter : searchTerm | paginate: { itemsPerPage: pageSize, currentPage: p } let indexOfelement = index;">
                <td class="text-right">{{indexOfelement+1}}</td>
                <td class="text-right">{{data.createdAt}}</td>
                <td class="text-right">{{data.orderNumber}}</td>
                <td class="text-right">{{data.agent.agentName}}</td>
                <td class="text-right">{{data.orderCount}}</td>
                <td class="text-right">{{data.finishedOrderCount}}</td>
                <td class="text-right">{{data.wipCount}}</td>
                <td class="text-right">{{data.nonStartedOrderCount}}</td>
                <td class="text-right">
                  <a [routerLink]="['./billJobMasterDetails',data.orderMasterId]">  <mat-icon>label</mat-icon>  </a>
                </td>

              </tr>
              </tbody>
            </table>
            <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
              <!--    https://www.npmjs.com/package/ngx-pagination-->
              <!--    npm i ngx-pagination-->
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
              <pagination-controls  id="some_id"
                                    (pageChange)="p=($event)"
                                    maxSize="5"
                                    directionLinks="true"
                                    autoHide="true"
                                    responsive="true"
                                    previousLabel="Previous"
                                    nextLabel="Next"
                                    screenReaderPaginationLabel="Pagination"
                                    screenReaderPageLabel="page"
                                    screenReaderCurrentLabel="You're on page">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-2 bd-highlight">
    <router-outlet></router-outlet>
  </div>
  <div class="p-2 bd-highlight">Flex item 3</div>
</div>



<!--To enable developer div in development-->
<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch"  *ngIf="!isProduction">
  <mat-slide-toggle [(ngModel)]="showDeveloperDiv">Slide Toggle Checked: {{showDeveloperDiv}}</mat-slide-toggle>
</div>

<!--This is developer div-->
<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch"  id="developer-div" *ngIf="showDeveloperDiv && !isProduction">
  <div fxLayout="column" fxFlex="25" class="mr-1" style="background-color: #dddddd">
    <pre>
        orders = {{orders | json}}
    </pre>
  </div>
  <div fxLayout="column" fxFlex="25" class="mr-1" style="background-color: #d9dd9b">
    <pre>

    </pre>
  </div>
  <div fxLayout="column" fxFlex="25" class="mr-1" style="background-color: #dddddd">
    <pre>

    </pre>
  </div>
  <div fxLayout="column" fxFlex="25" class="mr-1" style="background-color: #d9dd9b">
    <pre>

    </pre>
  </div>
</div>
