<div fxLayout.xs="column" fxLayout="row" fxFlexFill>
  <div fxFlex="40" id="left-div">
    <div style="min-height: 92vh; background-color: rgba(202, 199, 224, 0.81);">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sale Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <div fxFlex="70">
                  <!--              Transaction Details-->
                  <form [formGroup]="transactionDetailsForm" class="transaction-detail">
                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                      <ng-select [items]="customers" fxFlex="80" (change)="onSelectedCustomer($event)" bindLabel="ledger_name" class="custom" bindValue="id" formControlName="ledger_id" placeholder="Select Vendor">
                      </ng-select>
                      <div fxFlex="20" *ngIf="selectedLedger">
                        <popover-content #myPopover title="{{selectedLedger.ledger_name}}" placement="right" [animation]="true" [closeOnClickOutside]="true">
                          <span style=""><b> Name: </b>{{selectedLedger.billing_name}}</span><br>
                          <span *ngIf="selectedLedger.address1" style=""><b>Address: </b>{{selectedLedger.address1}}</span><br>
                          <div *ngIf="selectedLedger.mobile1" style=""><b>Mobile1 : </b>{{selectedLedger.mobile1}}</div>
                          <div *ngIf="selectedLedger.mobile2"><b>Mobile2 : </b>{{selectedLedger.mobile2}}</div>
                          <div *ngIf="selectedLedger.area" style=""> <b> Area: </b>{{selectedLedger.area}}</div>
                          <span style=""><b> Pin: </b>{{selectedLedger.pin}}</span>
                        </popover-content>


                        <div class="example-button-container">
                          <button mat-mini-fab color="primary" [popover]="myPopover" aria-label="Customer Details">
                            <mat-icon>menu</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div fxFlex="30">
                  <!--              Sale form here-->
                  <form [formGroup]="transactionMasterForm">
                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                      <mat-form-field class="example-full-width" fxFlex="90">
                        <mat-label>Sale date (dd/mm/yyyy)</mat-label>
                        <input matInput [matDatepicker]="saleDatePicker" formControlName="transaction_date" placeholder="dd/mm/yyyy">
                        <mat-datepicker-toggle matSuffix [for]="saleDatePicker">
                          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #saleDatePicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </form>
                </div>


          </div>
          <hr size="10">
          <!--          sale details are here-->
          <form [formGroup]="saleDetailsForm" class="purchase-details">

            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <mat-form-field fxFlex="30">
                <mat-label>Product category</mat-label>
                <mat-select formControlName="product_category_id" placeholder="Product category" (ngModelChange)="onProductCategorySelected($event)">
                  <mat-option *ngFor="let productCategory of productCategories" [value]="productCategory.id">
                    {{productCategory.category_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <ng-select [items]="productsByCategory" fxFlex="30" (change)="onSelectedProduct($event)" bindLabel="product_name" class="custom" bindValue="id" formControlName="product_id" placeholder="Product">
              </ng-select>
            </div>

            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <!--Rate-->
              <mat-form-field fxFlex="20">
                <mat-label>Rate</mat-label>
                <input type="number" class="text-right" matInput formControlName="rate" placeholder="Rate">
              </mat-form-field>
              <!--Quantity-->
              <mat-form-field fxFlex="20" *ngIf="selectedProduct">
                <mat-label>Qty <b>{{selectedProduct.sale_unit_name}}</b></mat-label>
                <input type="number" class="text-right" matInput formControlName="sale_quantity"  placeholder="Quantity">
              </mat-form-field>
            </div>


            </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div fxFlex="60" id="right-div">
    <div style="min-height: 92vh; background-color: rgba(202, 199, 224, 0.81);">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sale Form</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <div fxFlex="80">

            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>







<!--developer div-->
<div fxLayout.xs="column" id="developer-area" fxLayout="row" fxFlexFill *ngIf="isDeveloperAreaShowable">

  <div fxFlex="30">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 1</h2>
      </mat-card-header>
      <mat-card-content>



      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 2</h2>
      </mat-card-header>
      <mat-card-content>


      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 3</h2>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="25">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area 4</h2>
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </div>

</div>
