.green{
  background-color: aqua;
  padding: 5px;

  height: fit-content;
  width: fit-content;
}

.yellow{
  background-color: #cdd20c;
  padding: 5px;
  height: fit-content;
  width: fit-content;


}
.left{
  text-align: left;

}
.right{
  text-align: right;

}

