<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="job-div">
                <div fxLayout="column" fxFlex="40" class="mr-1">
                    <mat-card class="ml-2 mt-2">
                        <div class="form-container">
                           <form [formGroup] = jobMasterForm>
                             <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                               <div class="container" fxLayout="row">
                                 <mat-form-field class="col-6">
                                   <input matInput placeholder="Model number" formControlName="model_number">
                                 </mat-form-field>
                                 <mat-form-field class="col-6">
                                   <input matInput placeholder="Material Name" formControlName="material_name">
                                 </mat-form-field>
                               </div>
<!--                               <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start">-->
<!--                                 <mat-form-field class="col-6">-->
<!--                                   <mat-label>Karigarh</mat-label>-->
<!--                                   <mat-select  formControlName="karigarh_id">-->
<!--                                     <mat-option *ngFor="let karigarh of karigarhData" [value]="karigarh.id">-->
<!--                                       {{karigarh.user_name}}-->
<!--                                     </mat-option>-->
<!--                                   </mat-select>-->
<!--                                 </mat-form-field>-->
<!--                               </div>-->
                               <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start">
                                 <div class="container material" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                                   <ng-select [items]="karigarhData" fxFlex="50"  bindLabel="user_name" class="custom" bindValue="id" formControlName="karigarh_id" placeholder="Karigarh">
                                   </ng-select>
                                 </div>
                               </div>
                                <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
<!--                                  <mat-form-field class="col-6">-->
                                    <mat-form-field class="col-6">
                                      <input matInput placeholder="Job Date" formControlName="date">
                                    </mat-form-field>
<!--                                    <mat-label>Job Date</mat-label>-->
<!--                                    <input matInput placeholder="Model number" formControlName="date">-->

<!--                                      <input matInput formControlName="date" >-->
<!--                                           [matDatepicker]="picker1"-->

<!--                                           [min]="minDate"-->
<!--                                           [max]="maxDate">--
                                            <mat-datepicker-toggle matSuffix [for]="picker1">-->
<!--                                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>-->
<!--                                    </mat-datepicker-toggle>-->
<!--                                    <mat-datepicker #picker1></mat-datepicker>-->
<!--                                  </mat-form-field>-->
                                </div>
                             </div>
                           </form>
                          <form [formGroup] = jobDetailsForm>
                              <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start">
                                <mat-form-field class="col-6 pl-4">
                                  <input matInput type="text" placeholder="Gold Weight" formControlName="material_quantity" (change)="material_quantity_decimal()">
                                </mat-form-field>
                              </div>
                          </form>
                          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
                            <button mat-button (click)="onSubmit()" mat-stroked-button [disabled]="!jobDetailsForm.valid">Save</button>
                            <button mat-button (click)="onCancel()" mat-stroked-button>Cancel</button>
                          </div>
                       </div>
                    </mat-card>
                </div>
                <div fxLayout="column" fxFlex="60" class="mr-1">
                  <div class="row" style="align-content: center; text-align: center" [hidden]="showProduct">
                    <div class="col-3"><button style="background-color: green" mat-button class="col-12" mat-stroked-button (click)="productShow()">{{showProduct==true? 'Show Order Master List':'Back'}}</button></div>
                  </div>
                  <div id="job-table-div" [hidden]="!showProduct">
                    <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Search..." [(ngModel)]="searchTerm" name="search" type="text" autofocus>
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Items per page" [(ngModel)]="pageSize" name="PageSize" type="text">
                      </mat-form-field>
                    </div>
                    <table class="table" id="my-table">
                      <thead>
                      <tr>
                        <th>SL No.</th>
                        <th>Order Number</th>
                        <th>Customer</th>
                        <th>Agent</th>
                        <th>Order Date</th>
                        <th>Delivery Date</th>
                        <th>Open</th>
                        <th>Delete</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr  *ngFor="let data of orderMasterData | filter : searchTerm | paginate: { itemsPerPage: pageSize, currentPage: p } let indexOfelement = index;">
                        <td>{{indexOfelement+1}}</td>
                        <td >{{data.order_number}}</td>
                        <td >{{data.customer_name}}</td>
                        <td >{{data.agent_name}}</td>
                        <td >{{data.date_of_order}}</td>
                        <td >{{data.date_of_delivery}}</td>
                        <td>
                          <button mat-icon-button color="primary" aria-label="Open Master" (click)="viewDetails(data)">
                            <mat-icon>forward</mat-icon>
                          </button>
                        </td>
                        <td>
                          <button mat-icon-button color="warn" aria-label="Edit Customer">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </td>

                      </tr>
                      </tbody>
                    </table>
                    <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
                      <!--    https://www.npmjs.com/package/ngx-pagination-->
                      <!--    npm i ngx-pagination-->
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                      <pagination-controls  id="some_id"
                                            (pageChange)="p=($event)"
                                            maxSize="5"
                                            directionLinks="true"
                                            autoHide="true"
                                            responsive="true"
                                            previousLabel="Previous"
                                            nextLabel="Next"
                                            screenReaderPaginationLabel="Pagination"
                                            screenReaderPageLabel="page"
                                            screenReaderCurrentLabel="You're on page">
                      </pagination-controls>
                    </div>
                  </div>
                  <div id="job-table-div" [hidden]="showProduct">
                    <table class="table" id="my-table">
                      <thead>
                      <tr>
                        <th>SL No.</th>
                        <th>Model Number</th>
                        <th>Price Code</th>
                        <th>Price</th>
                        <th>PLoss</th>
                        <th>Approx Gold</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                        <th>Send to Job</th>
                        <th>Delete</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr [ngStyle]="getBackgroundColor(indexOfelement)" *ngFor="let details of orderDetails ; let indexOfelement = index;" [ngClass]="{'red': details.status_id!=40}">
                        <td>{{indexOfelement+1}}</td>
                        <td>{{details.model_number}}</td>
                        <td >{{details.price_code}}</td>
                        <td>{{details.price}}</td>
                        <td>{{(details.p_loss).toFixed(3)}}</td>
                        <td>{{details.approx_gold.toFixed(3)}}</td>
                        <td>{{details.quantity}}</td>
                        <td>{{details.amount}}</td>
                        <td>
                          <button mat-icon-button color="primary"   [disabled]="details.status_id!=40" aria-label="Edit Product" (click)="placeJob(details)" *ngIf="selectedJobIndex != indexOfelement">
                            <mat-icon>done</mat-icon>
                          </button>
                        </td>
                        <td>
                          <button mat-icon-button color="warn" [disabled]="details.status_id!=40" aria-label="Edit Customer">
                            <mat-icon>delete</mat-icon>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

