<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
      </thead>
      <tbody>
        <tr *ngFor="let data of jobList">
          <td>{{data.jobNumber}}</td>
          <td>{{data.jobDate}}</td>
          <td>{{data.product.model_number}}</td>
          <td>{{data.karigarh.karigarh_name}}</td>
          <td>
            <input class="form-check-input" type="checkbox" [disabled]="true" value="">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
