<div class="navbar">
  <!--For Public-->
  <mat-toolbar color="secondary" [ngStyle]="myStyle()" *ngIf="!isAuthenticated">
    <mat-nav-list class="list-horizontal">

      <mat-list-item>
        <button mat-button
                [routerLink]="['/']"
                routerLinkActive="MyActiveMenu"
                [routerLinkActiveOptions]="{exact: true}">Home</button>
      </mat-list-item>


      <mat-list-item>
        <button mat-button mat-raised-button
                [routerLink]="['/auth']"
                routerLinkActive="MyActiveMenu">Login</button>
        <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
      </mat-list-item>





    </mat-nav-list>
  </mat-toolbar>
  <!--For Owner new-->
  <mat-toolbar color="secondary" [ngStyle]="myStyle()" *ngIf="isAuthenticated && isOwner">
    <mat-nav-list class="list-horizontal">

      <mat-list-item>
        <button mat-button
                [routerLink]="['/']"
                routerLinkActive="MyActiveMenu"
                [routerLinkActiveOptions]="{exact: true}">Home</button>
      </mat-list-item>

      <mat-list-item>
        <button mat-menu-item [matMenuTriggerFor]="menuLedger">Master</button>
      </mat-list-item>
      <mat-menu #menuLedger="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="['/customer']" routerLinkActive="MyActiveMenu"><fa-icon class="delete" [icon]="faUserEdit"></fa-icon>&nbsp;Customer</button>
        <button mat-menu-item [routerLink]="['/vendor']" routerLinkActive="MyActiveMenu"><fa-icon class="delete" [icon]="faUserAlt"></fa-icon>&nbsp;Vendor</button>
        <button mat-menu-item [routerLink]="['/products']" routerLinkActive="MyActiveMenu"><mat-icon>send</mat-icon>Products</button>
      </mat-menu>


      <mat-list-item>
        <button mat-menu-item [matMenuTriggerFor]="menuTransaction">Transactions</button>
      </mat-list-item>
      <mat-menu #menuTransaction="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="['/purchase']" routerLinkActive="MyActiveMenu">Purchase</button>
        <button mat-menu-item [routerLink]="['/sale']" routerLinkActive="MyActiveMenu">Sale</button>
      </mat-menu>


      <mat-list-item>
        <button mat-button mat-raised-button *ngIf="!isAuthenticated"
                [routerLink]="['/auth']"
                routerLinkActive="MyActiveMenu">Login</button>
        <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
      </mat-list-item>





    </mat-nav-list>
  </mat-toolbar>

  <!--For Manager-->
  <mat-toolbar color="accent" *ngIf="isAuthenticated && isWorker">
    <mat-toolbar-row fxLayoutAlign="space-between center">
      <div fxLayout="row">
          <button mat-button >
            <mat-icon>home</mat-icon>
            <span class="logo">Coder</span>
          </button>
          <div *ngIf="!deviceXs">
            <button mat-button
                    [routerLink]="['/']"
                    routerLinkActive="MyActiveMenu"
                    [routerLinkActiveOptions]="{exact: true}">Home</button>
            <button mat-button >Contact Us</button>
            <button mat-button >About Us</button>
          </div>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic3" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Action - 1</button>
              <button ngbDropdownItem>Another Action</button>
              <button ngbDropdownItem>Something else is here</button>
            </div>
          </div>

          <button mat-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/customer']" routerLinkActive="MyActiveMenu">Customer</button>
            <button mat-menu-item [routerLink]="['/product']" routerLinkActive="MyActiveMenu">Product</button>
          </mat-menu>


      </div>
      <button mat-button
              [routerLink]="['/auth']"
              routerLinkActive="MyActiveMenu">Login</button>
      <button mat-button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
      <div>
          <button  mat-button>
            <mat-icon *ngIf="deviceXs">more_vert</mat-icon>
            <span *ngIf="!deviceXs">Menu</span>
          </button>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
      <button mat-button >Home</button>
      <button mat-button >Contact Us</button>
      <button mat-button >About Us</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
