
.logo{
  padding: 0px 5px;
  font-size: 20px;
}
.MyActiveMenu{
  background-color: #cdd20c;
  color: black;
}
//.mat-menu-item{
//  max-height:4vh;
//  height:4vh;
//
//}
::ng-deep .cdk-overlay-pane {
  max-height: 45vh !important;

}

