<!--<p>transaction works!</p>-->
<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="product-div">
  <div fxLayout="column" fxFlex="30" class="mr-1">
  </div>
  <div fxLayout="column" fxFlex="40" class="mr-1">
    <mat-card class="ml-2 mt-2">
      <div class="form-container">
        <form [formGroup] = passwordResetForm>
          <h1 style="text-align: center">Password Reset Form</h1>
          <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field class="col-8">
              <mat-label>Employee</mat-label>
              <mat-select  formControlName="id">
                <mat-option *ngFor="let employee of employeeList" [value]="employee.id">
                  {{employee.user_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field class="col-8">
              <input type="password" matInput placeholder="New Password" formControlName="password">
            </mat-form-field>
            <mat-form-field class="col-8">
              <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
            </mat-form-field>
          </div>
        </form>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
          <button mat-button mat-stroked-button class="btn btn-info" (click)="resetPassword()">Save</button>
        </div>
      </div>
    </mat-card>
  </div>
  <div fxLayout="column" fxFlex="30" class="mr-1">
  </div>
</div>
