<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="product-div">
  <div fxLayout="column" fxFlex="40" class="mr-1">
    <mat-card class="ml-2 mt-2">
      <div class="form-container">
        <form [formGroup] = productForm>
          <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field>
              <input matInput placeholder="Model Number" formControlName="model_number">
            </mat-form-field>
            <mat-form-field>
              <mat-placeholder>Product Name</mat-placeholder>
              <input matInput formControlName="product_name">
            </mat-form-field>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <mat-form-field>
                <mat-label>Price Code</mat-label>
                <mat-select  formControlName="price_code_id">
                  <mat-option *ngFor="let priceCode of priceCodes" [value]="priceCode.id">
                    {{priceCode.price_code_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Product Category</mat-label>
                <mat-select formControlName="product_category_id">
                  <mat-option *ngFor="let productCategory of productCategories" [value]="productCategory.id">
                    {{productCategory.category_name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
              <mat-form-field class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-placeholder>Product MV</mat-placeholder>
                <input matInput formControlName="product_mv">
              </mat-form-field>
            </div>

          </div>
        </form>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
<!--          <button mat-button (click)="onSubmit()" [disabled]="!productForm.valid" mat-stroked-button>Save</button>-->
          <button mat-button (click)="onSubmit()" [disabled]="productForm.value.id" mat-stroked-button>Save</button>
          <button mat-button (click)="updateProduct()" [disabled]="!productForm.dirty || !productForm.value.id" mat-stroked-button>Update</button>
          <button mat-button (click)="clearProductForm()" mat-stroked-button>clear</button>
        </div>

      </div>
    </mat-card>
  </div>
  <div fxLayout="column" fxFlex="60" class="mr-1">
    <div id="product-table-div">
      <form class="example-form">
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Search..." [(ngModel)]="searchTerm" name="search" type="text" autofocus>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Items per page" [(ngModel)]="pageSize" name="PageSize" type="text">
          </mat-form-field>
        </div>
      </form>
    <table class="table" id="my-table">
      <thead>
        <tr>
          <th>SL No.</th>
          <th>Product Name</th>
          <th>Model Number</th>
          <th>Price Code</th>
          <th>Product Category</th>
          <th colspan="2">Action</th>
        </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let product of products | filter:searchTerm | paginate: { itemsPerPage: pageSize, currentPage: p };let indexOfelement = index;">
        <td>{{indexOfelement+1}}</td>
        <td sortable-column="person_name">{{product.product_name}}</td>
        <td>{{product.model_number}}</td>
        <td>{{product.price_code_name}}</td>
        <td>{{product.category_name}}</td>
        <td>
          <button mat-icon-button color="primary" aria-label="Edit Product" (click)="populateFormByCurrentProduct(product)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td>
          <button mat-icon-button color="warn" aria-label="Edit Customer" (click)="deleteCurrentProduct(product)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
      <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
        <!--    https://www.npmjs.com/package/ngx-pagination-->
        <!--    npm i ngx-pagination-->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <pagination-controls  id="some_id"
                              (pageChange)="p=($event)"
                              maxSize="5"
                              directionLinks="true"
                              autoHide="true"
                              responsive="true"
                              previousLabel="Previous"
                              nextLabel="Next"
                              screenReaderPaginationLabel="Pagination"
                              screenReaderPageLabel="page"
                              screenReaderCurrentLabel="You're on page">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>

