<div fxLayout="row" fxLayoutAlign="space-around top">
    <div fxFlex="50" style="background-color: #f6e663">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Product Form</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="productForm">
                    <!--          product name-->
                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <mat-form-field fxFlex="50">
                            <mat-label>Product Name</mat-label>
                            <input type="text" matInput formControlName="product_name" placeholder="Product Name">
                            <mat-hint>Enter any unique product name</mat-hint>
                            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" *ngIf="!productForm.get('product_name').valid && productForm.get('product_name').touched">
                                <mat-error *ngIf="productForm.get('product_name').errors['required']">Product is required</mat-error>
                                <mat-error *ngIf="productForm.get('product_name').errors['minlength']">Minimum length of product is {{productForm.get('product_name').errors.minlength.requiredLength}}</mat-error>
                                <mat-error *ngIf="productForm.get('product_name').errors['maxlength']">Maximum length of product is {{productForm.get('product_name').errors.maxlength.requiredLength}}</mat-error>
                                <mat-error *ngIf="validatorError!=null && validatorError.product_name">{{validatorError.product_name}}</mat-error>
                            </div>
                        </mat-form-field>
                    </div>

                    <!--          Description-->
                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <mat-form-field fxFlex="50">
                            <mat-label>Description</mat-label>
                            <input type="text" matInput formControlName="description" placeholder="Description">

                            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" *ngIf="!productForm.get('description').valid && productForm.get('description').touched">
                                <mat-error *ngIf="productForm.get('description').errors['required']">Description is required</mat-error>
                                <mat-error *ngIf="productForm.get('description').errors['minlength']">Minimum length of description is {{productForm.get('description').errors.minlength.requiredLength}}</mat-error>
                                <mat-error *ngIf="productForm.get('description').errors['maxlength']">Maximum length of description is {{productForm.get('description').errors.maxlength.requiredLength}}</mat-error>
                                <mat-error *ngIf="validatorError!=null && validatorError.description">{{validatorError.description}}</mat-error>
                            </div>
                        </mat-form-field>
                    </div>





                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <mat-form-field fxFlex="40">
                            <mat-label>Product Category</mat-label>
                            <mat-select formControlName="product_category_id" placeholder="Category">
                                <mat-option *ngFor="let productCategory of productCategories" [value]="productCategory.id">
                                    {{productCategory.category_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <!--          purchase unit and Sale unit-->
                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <mat-form-field fxFlex="15">
                            <mat-label>Purchase Unit</mat-label>
                            <mat-select formControlName="purchase_unit_id">
                                <mat-option *ngFor="let unit of units" [value]="unit.id">
                                    {{unit.unit_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="15">
                            <mat-label>Sale Unit</mat-label>
                            <mat-select formControlName="sale_unit_id">
                                <mat-option *ngFor="let unit of units" [value]="unit.id">
                                    {{unit.unit_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!--          End ofpurchase unit and Sale unit-->
                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <mat-form-field fxFlex="10">
                            <input matInput placeholder="GST rate" type="number" formControlName="gst_rate" class="text-right">
                        </mat-form-field>

                        <mat-form-field fxFlex="10">
                            <input matInput placeholder="HSN code" type="text" formControlName="hsn_code" class="text-right">
                        </mat-form-field>
                    </div>

                    <!--          Opening Balance-->
                    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                        <mat-form-field fxFlex="20">
                            <mat-label>Opening Balance</mat-label>
                            <input type="number" matInput formControlName="opening_balance" placeholder="Opening Balance" class="text-right">
                            <mat-hint>Please be sure before update</mat-hint>
                            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" *ngIf="!productForm.get('opening_balance').valid && productForm.get('opening_balance').touched">
                                <mat-error *ngIf="productForm.get('opening_balance').errors['required']">Please check opening balance</mat-error>
                                <mat-error *ngIf="validatorError!=null && validatorError.opening_balance">{{validatorError.opening_balance}}</mat-error>
                            </div>
                        </mat-form-field>
                    </div>

                </form>
            </mat-card-content>
            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <button mat-button (click)="onSubmit()" *ngIf="!productForm.value.id" mat-stroked-button [disabled]="!productForm.valid">Save</button>
                <button mat-button (click)="updateProduct()" *ngIf="isProductUpdateAble" [disabled]="!productForm.valid" mat-stroked-button>Update</button>
                <button mat-button [disabled]="!productForm.dirty && !productForm.value.id" (click)="clearProductForm()" mat-stroked-button>clear</button>
            </div>
        </mat-card>


        <!--    <pre>-->
        <!--      validatorError={{validatorError | json}}-->
        <!--    </pre>-->
    </div>


    <div fxFlex="50" id="product-table-div">
        <form class="example-form">
            <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Search..." [(ngModel)]="searchTerm" name="search" type="text" autofocus>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Items per page" [(ngModel)]="pageSize" name="PageSize" type="text">
                </mat-form-field>
            </div>
        </form>
        <table class="table table-bordered table-responsive products-list" width="100%">
            <thead>
                <tr>
                    <th>Sl</th>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Opening Balance</th>
                    <th>Opening Balance</th>
                    <th>Unit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products | filter:searchTerm | paginate: { itemsPerPage: pageSize, currentPage: p };let indexOfElement=index">
                    <td>{{(p-1)*10+indexOfElement+1}}</td>
                    <td>{{product.product_name}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.category_name}}</td>
                    <td class="text-right">
                        <app-edit-input [data]='product' (focusOut)='saveCost($event,indexOfElement)'></app-edit-input>
                    </td>
                    <td class="text-right">
                        <span *ngIf='product.isEditMode'>
                <input
                  [(ngModel)]='product.opening_balance' class='cellInput'
                  appAutofocus type='number'>
                  <button  style="padding: 3px; margin-right: 10px; margin-left: 10px; background-color: #c4c6ca; height: 30px; width: 30px; border-radius: 5px;">
                    <fa-icon [icon]="faCheck"></fa-icon>
                  </button>
                  <a routerLink="#">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </a>
              </span>
                        <a *ngIf="!product.isEditMode" routerLink="#" (click)='product.isEditMode=true'>{{product.opening_balance}}</a>
                    </td>
                    <td>
                        {{product.sale_unit_name}}
                    </td>
                    <td>
                        <button mat-icon-button color="primary" aria-label="Edit Product">
                <mat-icon (click)="editProduct(product)">edit</mat-icon>
              </button>
                        <button mat-icon-button color="primary" aria-label="Edit Product">
                <mat-icon (click)="deleteProduct(product.id)">delete</mat-icon>
              </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
            <!--    https://www.npmjs.com/package/ngx-pagination-->
            <!--    npm i ngx-pagination-->
            <pagination-controls (pageChange)="p = $event" responsive="true" autoHide="true" previousLabel="আগে" nextLabel="পরে" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" directionLinks="true">
            </pagination-controls>
        </div>


    </div>

</div>
<div fxLayout.xs="column" id="developer-area" fxLayout="row" fxFlexFill *ngIf="false">

    <div fxFlex="25">
        <mat-card class="example-card">
            <mat-card-header>
                <h2 style="color: #c4c6ca;">Developer Area</h2>
            </mat-card-header>
            <mat-card-content>
                <pre>

        </pre>
                <pre>
          valid = {{productForm.valid | json}}
                    invalid = {{productForm.invalid | json}}
                    dirty = {{productForm.dirty | json}}
                    enabled = {{productForm.enabled | json}}
                    disabled = {{productForm.disabled | json}}
                    touched = {{productForm.touched | json}}
                    untouched = {{productForm.untouched | json}}
                    errors = {{productForm.errors | json}}
                    status = {{productForm.status | json}}
        </pre>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card class="example-card">
            <mat-card-header>
                <h2 style="color: #c4c6ca;">Developer Area</h2>
            </mat-card-header>
            <mat-card-content>
                <pre>

        </pre>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card class="example-card">
            <mat-card-header>
                <h2 style="color: #c4c6ca;">Developer Area</h2>
            </mat-card-header>
            <mat-card-content>
                <pre>

        </pre>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="25">
        <mat-card class="example-card">
            <mat-card-header>
                <h2 style="color: #c4c6ca;">Developer Area</h2>
            </mat-card-header>
            <mat-card-content>
                <pre>

        </pre>
            </mat-card-content>
        </mat-card>
    </div>
</div>