<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="stock-div" *ngIf="!showStockList">
  <div fxLayout="column" fxFlex="40" class="mr-1">
    <mat-card class="ml-2 mt-2">
      <div class="form-container" id = "stock-form">
        <form [formGroup] = stockForm>

          <mat-form-field class="col-12">
            <mat-label>Customer Name</mat-label>
            <input matInput formControlName="user_name" [readonly]="true">
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Order Name</mat-label>
            <input matInput formControlName="order_name" [readonly]="true">
          </mat-form-field>

          <mat-form-field class="col-3">
            <mat-label>Quantity</mat-label>
            <input type="number" matInput formControlName="quantity" [readonly]="true">
          </mat-form-field>

          <mat-form-field class="col-3">
            <mat-label>Total Gold</mat-label>
            <input type="number" matInput formControlName="total_gold" [readonly]="true">
          </mat-form-field>

          <mat-form-field class="col-3">
            <mat-label>Gross Weight</mat-label>
            <input type="number" matInput formControlName="gross_weight" [readonly]="true">
          </mat-form-field>

          <mat-form-field class="col-3">
            <mat-label>Amount</mat-label>
            <input type="number" matInput formControlName="amount" [readonly]="true">
          </mat-form-field>


          <mat-form-field class="col-12">
            <mat-label>Division</mat-label>
            <input type="number" matInput formControlName="division" (blur)="calculateDivision()">
          </mat-form-field>

          <div style="text-align: right">
            <button class="btn btn-primary" [hidden]="!stockForm.value.set_quantity" (click)="saveStock()">Submit</button>
<!--            <button class="btn btn-primary" (click)="test()">TEst</button>-->
          </div>
        </form>
      </div>
    </mat-card>
  </div>
  <div fxLayout="column" fxFlex="60" class="mr-1">
    <mat-card [hidden]="stockList.length === 0">
      <table class="table" id="my-table" id="stock-table-div">
        <thead>
          <tr>
            <th>SL. NO.</th>
            <th>Name</th>
            <th>Gold</th>
            <th>Gross Weight</th>
            <th>Quantity</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stcoks of stockList;let indexOfelement = index;">
            <td>{{indexOfelement+1}}</td>
            <td>{{stcoks.order_name}}</td>
            <td  style="text-align: right">{{stcoks.set_gold}} gm</td>
            <td  style="text-align: right">{{stcoks.set_gross_weight}} gm</td>
            <td style="text-align: right">{{stcoks.set_quantity}}</td>
            <td  style="text-align: right">{{stcoks.set_amount | currency:"&#8377;"}}</td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
</div>

<div  *ngIf="showStockList">
  <mat-card style="background-color: black">
    <mat-card style="background-color: #d9dd9b">
      <div *ngIf="stockData.length === 0" style="text-align: center; font-weight: bold ; font-size: xx-large">
        NO DATA IN STOCK
      </div>
      <div *ngIf="stockData.length > 0">
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Search..." [(ngModel)]="searchTerm" name="search" type="text" autofocus>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Items per page" [(ngModel)]="pageSize" name="PageSize" type="text">
          </mat-form-field>
        </div>
        <table class="table table-hover">
          <thead style="background-color: lightslategray">
          <th>SL NO.</th>
          <th>Model Name</th>
          <th>Tag</th>
          <th>Gold</th>
          <th>Amount</th>
          <th>Quantity</th>
          </thead>

          <tbody>
          <tr *ngFor="let item of stockData | filter: searchTerm | paginate: { itemsPerPage: pageSize, currentPage: p } ;let indexofElement = index">
            <td>{{indexofElement+1}}</td>
            <td>{{item.model_number}}</td>
            <td>{{item.tag | uppercase}}</td>
            <td>{{item.gold}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.quantity}}</td>
          </tr>
          </tbody>
        </table>
        <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
          <!--    https://www.npmjs.com/package/ngx-pagination-->
          <!--    npm i ngx-pagination-->
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          <pagination-controls  id="some_id"
                                (pageChange)="p=($event)"
                                maxSize="10"
                                directionLinks="true"
                                autoHide="true"
                                responsive="true"
                                previousLabel="Previous"
                                nextLabel="Next"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
      </div>

    </mat-card>
  </mat-card>
</div>


