<div  fxLayout.xs="column"  fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id ="completed-bill-div" >
  <div  fxFlex="100" class="col" *ngIf="finishedBillData" [hidden]="showBill" id ="show-billNumber-div" >
    <table class="table">
      <thead>
      <tr>
        <th>SL No.</th>
        <th>Bill Number</th>
        <th colspan="2">Action</th>
<!--        <th>Status</th>-->
<!--        <th>Report</th>-->
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let data of finishedBillData; let indexOfelement = index" >
        <td>{{indexOfelement+1}}</td>
        <td>{{data.bill_number}}</td>
        <td><button  class="btn btn-primary" (click)="getBillDetails(data.id)">View Bill</button></td>
        <td><button  class="btn btn-primary" [routerLink]="['/billedJobList',data.id]">job details</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div   class="container" id="bill-div" [hidden]="!showBill" >

    <div style="text-align: right">
      <button
        mat-stroked-button
        class="btn-primary"
        [printStyle]="printDivStyle"
        printSectionId="printBillDiv"
        ngxPrint ><mat-icon>print</mat-icon>
      </button>
    </div>
    <div id="printBillDiv">
      <div style="align-content: center; text-align: center">
        <h2 style="text-align: center; font-weight:bold">SRIKRISHNA BANGLE JEWELLERY WORKSHOP</h2>
        <label style="font-size: 13px ">সোনার পাত বসান ব্রোঞ্জ চুরি</label><br><br>
        <label style="font-size: 13px ">Sewli,P.O- S.T.P , (Baro Kanthaliya),Barrackpore,Dist:- North 24 Parganas,Kol-121</label><br>
        <label style="font-size: 11px">contact:- 033 2535 3727 , 2535 7777 , 2535 2222 ,Mob: - 9836444999 ,email: bangle312@gmail.com</label><br>
        <hr>
        <label style="text-align: center;">Received the following materials along with design in good condition for manufacturing of Bangles against labour charges only </label>
        <hr>
      </div>
      <div fxLayout="row" *ngIf="billDetailsData.length" style="justify-content: space-between">
        <div class="col-4" >
          <label>Customer Name & Address : </label><br>
          <label style="font-size: larger">{{billDetailsData[0].billing_name}}</label><br>
          <label>{{billDetailsData[0].address1}}</label><br>
          <label>{{billDetailsData[0].city}} &nbsp;,&nbsp;{{billDetailsData[0].area}}</label><br>
          <label>pin code:-&nbsp;{{billDetailsData[0].pin}}</label><br>
          <label>PO:&nbsp;{{billDetailsData[0].po}}</label><br>
          <label>{{billDetailsData[0].mobile1}}</label><br>
        </div>
        <div class="col-4"></div>
        <div class="col-4"><br>
          <label>Bill Number : {{billDetailsData[0].bill_number}}</label><br>
          <label>Bill Date : {{billDetailsData[0].bill_date}}</label><br>
          <label>Order Number : {{billDetailsData[0].order_number}}</label><br>
          <label>Order Date : {{billDetailsData[0].date_of_order}}</label><br>
        </div>
      </div><br> <br>
      <table id="bill-detail-table" class="table">
        <thead>
        <tr>
          <th>SL No.</th>
          <th>Job Tag</th>
          <th>Model</th>
          <th>Size</th>
          <th>Gross Weight</th>
          <th>Gold 92.00g</th>
          <th>Pure Gold</th>
          <th>Quantity</th>
          <th>L.C. Rs.</th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let data of billDetailsData; let indexOfelement = index" >
          <td>{{indexOfelement+1}}</td>
          <td >{{data.job_number}}</td>
          <td>{{data.model_number}}</td>
          <td>{{data.size}}</td>
          <td style="padding: 2px; text-align: right">{{data.gross_weight}}</td>
          <td style="padding: 2px; text-align: right">{{data.ginnie}}</td>
          <td style="padding: 2px; text-align: right">{{data.pure_gold}}</td>
          <td style="padding: 2px; text-align: right">{{data.quantity}}</td>
          <td style="padding: 2px; text-align: right">{{data.LC | currency:"&#8377;"}}</td>
        </tr>
        <tr style=" border-top : 1px solid black; border-collapse: collapse">
          <td></td>
          <td></td>
          <td *ngIf=discount>Discount</td>
          <td></td>
          <td></td>
          <td style="padding: 2px;"></td>
          <td style="padding: 2px;"></td>
          <td *ngIf=discount style="padding: 2px;text-align: right" >({{discountPercentage}}%)</td>
          <td *ngIf=discount style="padding: 2px; text-align: right" > - {{discount | currency:"&#8377;"}}</td>
        </tr>
<!--        <hr>-->
        <tr style=" border-top : 1px solid black; border-collapse: collapse">
          <td></td>
          <td></td>
          <td>Total</td>
          <td></td>
          <td></td>
          <td style="padding: 2px; text-align: right">{{total92Gold.toFixed(3)}} g</td>
          <td style="padding: 2px; text-align: right">{{totalGold.toFixed(3)}} g</td>
          <td style="padding: 2px; text-align: right">{{totalQuantity}}</td>
          <td style="padding: 2px; text-align: right">{{totalCost | currency:"&#8377;"}}</td>
        </tr>
        </tbody>
      </table>
      <br><br>
      <div class="ml-2" *ngIf="totalCost">Amount in Word: Rupees {{convert(totalCost)}} only</div>
      <br><br>
      <div style="text-align: right">
        <label style="text-align:right ; margin-right: 7px; font-size: small">Party signature with stamp, Date & Time</label><br>
        <label style="text-align:right ; margin-right: 7px; font-size: smaller">Received goods as per requirement &  in good condition</label>
      </div>
      <br>
      <br>
      <p style="text-align:left ; margin-right: 7px; font-size: smaller">শর্তাবলী: - আপনার যাবতীয় লেনদেন ও দেনাপাওনা সম্পূর্ণ ভাবে প্রোপরাইটার শ্রী বিবেকানন্দ ঘোষ এর সাথে সম্পর্ক যুক্ত |</p>
    </div>
  </div>
</div>


