<!--<div fxLayout="column" fxFlexFill>-->
<!--  <app-header [deviceXs]="deviceXs"></app-header>-->
<!--  <div fxLayout="column" fxFill>-->
<!--    <div fxFlex="column grow" style="margin: 0%">-->
<!--      <router-outlet></router-outlet>-->
<!--    </div>-->
<!--    <footer fxLayout="column">-->
<!--      <div fxLayout="row">-->
<!--        <hr fxFlex="100">-->
<!--      </div>-->
<!--      <p fxFlexAlign="center">Copy Right CODER</p>-->
<!--    </footer>-->
<!--  </div>-->
<!--</div>-->






<!--<div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="bg-red">-->
<!--  <div fxFlex="1" fxLayout="column" flexLayoutAlign="center center">-->
<!--      <app-header [deviceXs]="deviceXs"></app-header>-->
<!--  </div>-->
<!--  <div fxFlex="1" fxLayout="column" flexLayoutAlign="center center" style="margin-top: 70px">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->


<!--  <div fxFlex fxLayoutAlign="start end" class="bottom-div">-->
<!--    BOTTOM ELEMENT: This div is filled and text is aligned in the end-->
<!--  </div>-->
<!--</div>-->


<!--<div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="bg-red">-->
<!--  <div fxFlex="1" fxLayout="column" flexLayoutAlign="center center">-->
<!--    <app-header [deviceXs]="deviceXs"></app-header>-->
<!--  </div>-->
<!--  <div fxFlex="1"  fxLayout="column" flexLayoutAlign="center center"  style="margin-top: 70px;height: 35vh !important;">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--  <div fxFlexFill fxLayoutAlign="start end" class="bottom-div" style="background-color: #232323 ; height : 5% !important" >-->
<!--    Srikrishna Bangle Jewellery Workshop-->
<!--&lt;!&ndash;    <hui-footer></hui-footer>&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<div fxLayout="column" fxLayoutAlign="start none" class="fixVertical">
  <div fxFlex="1" fxLayout="column" flexLayoutAlign="center center">
    <app-header [deviceXs]="deviceXs"></app-header>
  </div>
  <!--  This is our main working area-->
  <div class="working-area" fxFlex="1" fxLayout="column" flexLayoutAlign="none none" style="margin-top: 70px; height: 100vh">
    <router-outlet></router-outlet>
  </div>

  <!--  Footer-->
  <footer class="flex-container" fxLayout="row" fxLayoutAlign="center end" id="footer-div">
    this footer should always stick to the bottom of the page
  </footer>
</div>










<!--<div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch" class="bg-red">-->
<!--  <app-header [deviceXs]="deviceXs" fxFlex="1" fxLayout="col" flexLayoutAlign="center center"></app-header>-->

<!--      <div fxFlex="column grow">-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->


<!--  <div fxFlex fxLayoutAlign="start end" class="bottom-div">-->
<!--    <footer fxLayout="column">-->
<!--      <div fxLayout="row">-->
<!--        <hr fxFlex="100">-->
<!--      </div>-->
<!--      <p fxFlexAlign="center">Copy Right CODER</p>-->
<!--    </footer>-->
<!--  </div>-->
<!--</div>-->
