$color-red: #231b18;
$color-yellow-1: #e89e05;
$color-yellow-2: #e8c50e;
$color-yellow-3: #dce815;
$base-color: #c6538c;


@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

@function is-direction($value) {
  $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

  @return $is-keyword or $is-angle;
}

@function legacy-direction($value) {
  @if is-direction($value) == false {
    @error "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be a direction.";
  }

  $conversion-map: (
    to top          : bottom,
    to top right    : bottom left,
    to right top    : left bottom,
    to right        : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom       : top,
    to bottom left  : top right,
    to left bottom  : right top,
    to left         : right,
    to left top     : right bottom,
    to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - $value;
}


body{
  min-height: 100%;
  width: 100%;
  background-color: antiquewhite;
  @include linear-gradient(to bottom, $color-red 0%, #32220a 50%, #46576f 100%);
  //background-image: url("assets/background/zhilkooleg-C5ayHUXMMX8-unsplash.jpg");
  background: linear-gradient(217deg, rgba(182, 92, 92, 0.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(146, 85, 10, 0.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(246, 226, 199, 0.8), rgba(0,0,255,0) 70.71%);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.layer{
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

//#outer-div{
//  display: flex;
//}
//#main-div{
//  min-height: 93vh;
//  background-color: cornflowerblue;
//  //background-image: linear-gradient(hotpink, tomato);
//  @include linear-gradient(to bottom, $color-red 0%, #e8dd18 50%, #e8dd18 100%);
//}

//mat-sidenav{
//  min-height: 94vh;
//  width: 10vw;
//  @include linear-gradient(to bottom, $base-color 0%, $base-color 50%, $base-color 100%);
//}
//mat-sidenav-content{
//  min-height: 94vh;
//  padding-left: 10px;
//  @include linear-gradient(to bottom, $color-yellow-1 0%, $color-yellow-2 50%, $color-yellow-3 100%);
//}


.navbar {
  overflow: hidden;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px;
  padding: 0px !important;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  /*padding: 14px 16px;*/
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

