<div  style="padding: 8px; background-color: white">
<!--  <div class="col"><button style="background-color: green" mat-button class="col-12" mat-stroked-button (click)="jobListShow()">{{showCompleteJobs==true ? 'Show Pending Jobs List':'Show Finished Jobs List'}}</button></div>-->
  <mat-slide-toggle (change)="jobListShow()">{{showCompleteJobs==true ? 'Show Pending Jobs List':'Show Finished Jobs List'}}</mat-slide-toggle>
</div>
<div fxLayout.xs="column" [hidden]="formTaskDiv" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="job-div">
  <div fxLayout="column" fxFlex="100" [hidden]="showCompleteJobs" class="mr-1">
    <div class="jobTask-table-div">
      <h1>Current Incomplete Jobs</h1>
      <div *ngIf="savedJobsData.length > 0">
        <div  fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Search..." [(ngModel)]="searchTerm" name="search" type="text" autofocus>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Items per page" [(ngModel)]="pageSize" name="PageSize" type="text">
          </mat-form-field>
<!--          <mat-slide-toggle (change)="jobListShow()" checked="false">{{showCompleteJobs==true ? 'Show Pending Jobs List':'Show Finished Jobs List'}}</mat-slide-toggle>-->
        </div>
        <table class="table" *ngIf="savedJobsData.length > 0">
          <thead>
          <tr>
            <th>SL No.</th>
            <th>Customer Name</th>
            <th>Job Number</th>
            <th>Model Number</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>Send to Task</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let data of savedJobsData | filter: searchTerm |paginate: { itemsPerPage: pageSize, currentPage: p }   let indexOfelement = index" >
            <td>{{indexOfelement+1}}</td>
            <td>{{data.user_name | uppercase}}</td>
            <td >{{data.job_number}}</td>
            <td >{{data.model_number}}</td>
            <td >{{data.date }}</td>
            <td >{{data.quantity}}</td>
            <td >{{data.size}}</td>
            <td>
              <button mat-icon-button color="primary" aria-label="Open Master" [routerLink]="['/job_detail',data.id]"   (click)="placeDetails(data)">
                <mat-icon>forward</mat-icon>
              </button>
<!--              <button mat-icon-button color="primary" aria-label="Open Master" [routerLink]="['/test']"  >-->
<!--                <mat-icon>forward</mat-icon>-->
<!--              </button>-->
            </td>
          </tr>
          </tbody>
        </table>
        <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
          <!--    https://www.npmjs.com/package/ngx-pagination-->
          <!--    npm i ngx-pagination-->
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          <pagination-controls  id="some_id"
                                (pageChange)="p=($event)"
                                maxSize="5"
                                directionLinks="true"
                                autoHide="true"
                                responsive="true"
                                previousLabel="Previous"
                                nextLabel="Next"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
      </div>
      <div *ngIf="savedJobsData.length == 0">
        <h1>Nothing to show.....</h1>
      </div>
    </div>
  </div>

  <div fxLayout="column" fxFlex="100" [hidden]="!showCompleteJobs" class="mr-1">
    <div class="jobTask-table-div" >
      <h1>Finished Job List</h1>
      <div *ngIf="finishedJobsList.length!=0">
        <div  fxLayout fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="30px" fxLayoutGap.xs="0">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Search..." [(ngModel)]="searchTerm" name="search" type="text" autofocus>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Items per page" [(ngModel)]="pageSize" name="PageSize" type="text">
          </mat-form-field>
<!--          <mat-slide-toggle (change)="jobListShow()" checked="true">{{showCompleteJobs==true ? 'Show Pending Jobs List':'Show Finished Jobs List'}}</mat-slide-toggle>-->
        </div>
        <table class="table" *ngIf="finishedJobsList.length!=0">
          <thead>
          <tr>
            <th>SL No.</th>
            <th>Customer Name </th>
            <th>Job Number</th>
            <th>Model Number</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>Show Details</th>
            <th>Send to stock</th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let data of finishedJobsList  | filter: searchTerm | paginate: { itemsPerPage: pageSize, currentPage: p } let indexOfelement = index" >
            <td>{{indexOfelement+1}}</td>
            <td>{{data.user_name | uppercase}}</td>
            <td >{{data.job_number}}</td>
            <td >{{data.model_number}}</td>
            <td >{{data.date}}</td>
            <td >{{data.quantity}}</td>
            <td >{{data.size}}</td>
            <td>
              <button mat-icon-button color="primary" aria-label="Open Master"  [routerLink]="['/job_detail',data.id]"   (click)="placeDetails(data)">
                <mat-icon>forward</mat-icon>
              </button>
            </td>
            <td>
              <button mat-icon-button color="primary" aria-label="Open Master"  [disabled]="data.bill_created === 1" [routerLink]="['/stock',data.id]" >
                <mat-icon>forward</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
          <!--    https://www.npmjs.com/package/ngx-pagination-->
          <!--    npm i ngx-pagination-->
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
          <pagination-controls  id="some_id"
                                (pageChange)="p=($event)"
                                maxSize="5"
                                directionLinks="true"
                                autoHide="true"
                                responsive="true"
                                previousLabel="Previous"
                                nextLabel="Next"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
      </div>
      <div *ngIf="finishedJobsList.length==0">
        <h1>Nothing to show....</h1>
      </div>
    </div>
  </div>
</div>







