

<div fxLayout.xs="column" fxLayout="row" fxFlex="30" fxLayoutAlign="center center" id="login-outer-div">

  <div style="min-height: 65vh">
    <mat-card fxFlex="95"  class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title></mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <section id="content" *ngIf="!isLoading">
        <div *ngIf="isLoading" style="text-align: center; width: 20vh;" >
          <app-loading-spinner></app-loading-spinner>
        </div>
          <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <h1>Login</h1>
            <mat-error>User ID or Password is wrong</mat-error>
            <mat-form-field>
              <input type="text" matInput placeholder="Username"
                     id="email"
                     class=""
                     ngModel
                     name="email"
                     required
                     minlength="6">
            </mat-form-field>

            <mat-form-field>
              <input showHideInput type="password" matInput id="password" class="" ngModel name="password" placeholder="Password" required>
              <i matSuffix
                 class="material-icons"
                 showHideTrigger="password"
                 [showHideStatus]="{ materialIcon: true, id: 'password' }"
              ></i>
            </mat-form-field>


        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <button mat-button class="btn btn-primary" type="submit" >Login</button>
        </div>


      </form><!-- form -->
      </section>
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
  </mat-card>
  </div>

</div>
