



<div fxLayout.xs="column" fxLayout="row" fxFlex="30" fxLayoutAlign="space-between" fxFlexFill id="login-outer-div">
  <div *ngIf="isLoading" fxLayout.xs="column" fxLayout="row" fxFlex="50" fxLayoutAlign="space-between stretch" fxFlexFill>
    <div  style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
  <div *ngIf="!isLoading"  fxLayout="column"   fxFlex="90" class="mr-1" id="login-main-area">
        <div  style="background-color:#909090;width:100%;text-align:center;padding:7px;">
          <div style="background-color:#ece2d2;width:100%;text-align:center;padding:3px;margin:5px auto">
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
              <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <mat-form-field>
                  <input type="text" matInput placeholder="Username"
                         id="email"
                         class=""
                         ngModel
                         name="email"
                         required
                         minlength="6">
                </mat-form-field>
              </div>

              <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
                <mat-form-field>
                  <input type="password" matInput id="password" class="" ngModel name="password" placeholder="Password" required>
                </mat-form-field>
              </div>

              <!--      <p *ngIf="error" class="error">-->
              <!--        {{ error }}-->
              <!--      </p>-->

              <div class="button">
                <button mat-button class="btn btn-primary" type="submit" >Login</button>
              </div>

            </form>
          </div>
        </div>
  </div>
</div>
