<div>
  <mat-card class="ml-2 mt-2" style="background-color: rgb(180, 190, 209)">
    <div class="form-container">
      <!--      <button (click)="backFunction()">Back</button>-->
<!--      <h2>Pan Submit</h2>-->
      <form [formGroup] = jobTaskForm>
        <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <!--          <label class="m-2">Job Number: </label>-->
          <div class="container" fxLayout="row">
            <h2 class="m-3">Pan Submit</h2>
<!--            <h2 class="m-3" *ngIf="oneJobData.material_name">{{oneJobData.material_name}}</h2>-->
            <h2 class="m-3" >Pan</h2>
          </div>
          <div class="container" fxLayout="row">
            <mat-form-field class="col-2">
              <input  style ="text-align: right;" type="text" matInput placeholder="Quantity" formControlName="return_quantity">
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
        <!--          <button mat-button  mat-stroked-button (click)="testing()">show</button>-->
        <button mat-button  mat-stroked-button  class="btn btn-primary" (click)="savePanSubmit()">Save</button>
        <button mat-button  mat-stroked-button class="btn btn-primary" (click)="getDalSubmitDetail()" >Get Detail</button>
      </div>
    </div>

    <div  class="col-12" *ngIf="panSubmitList" [hidden]="!showJobTaskData">
      <table class="jobTaskData-table-div col-12">
        <thead>
        <th colspan="" style="text-align: center">SL No.</th>
        <th colspan="" style="text-align: center">Task Name</th>
        <th colspan="" style="text-align: center">Quantity</th>
        <th colspan="" style="text-align: center">User Name</th>
        <th colspan="" style="text-align: center">Material</th>
        <th colspan="" style="text-align: center">Date</th>
        </thead>
        <tbody>
        <tr  *ngFor="let data of panSubmitList.record ; let indexOfelement = index;">
          <td colspan="" style="text-align: center">{{indexOfelement+1}}</td>
          <td colspan="" style="text-align: center">{{data.task_name}}</td>
          <td colspan="" style="text-align: right">{{data.material_quantity.toFixed(3)}}</td>
          <td colspan="" style="text-align: center">{{data.user_name}}</td>
          <td colspan="" style="text-align: center">{{data.material_name}}</td>
          <td colspan="" style="text-align: center">{{data.created_at}}</td>
        </tr>
        <tr>
          <td colspan=""  style="text-align: center ; background-color: yellow; font-weight: bolder">Total</td>
          <td colspan=""  style="text-align: center ; background-color: yellow; font-weight: bolder">Gold Return</td>
          <td colspan=""  style="text-align: right ; background-color: yellow; font-weight: bolder">{{panSubmitList.total_material.toFixed(3)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
</div>

