<div style="background-color: #d9dd9b">
  <mat-card style="background-color: #e8c50e; padding: 0px" >
    <mat-card style="background-color: lightgray; padding: 0px;" class="d-flex" >

      <div class="col-8">
        <div *ngIf="stockList.length === 0" style="text-align: center; font-weight: bold ; font-size: xx-large ; padding-top: 50px">
          NO DATA IN STOCK
        </div>
        <div *ngIf="stockList.length > 0" style="padding-top: 10px">
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Tag..." [(ngModel)]="searchTerm" name="search" type="text" autofocus>
            </mat-form-field>
          </div>
          <table class="table table-hover">
            <thead style="background-color: lightslategray">
            <th style="text-align: center">SL NO.</th>
            <th style="text-align: center">Tag</th>
            <th style="text-align: center">Model Name</th>
            <th style="text-align: center">Size</th>
            <th style="text-align: center">Gold</th>
            <th style="text-align: center">Gross Weight</th>
            <th style="text-align: center">Amount</th>
            <th style="text-align: center">Quantity</th>
            <th style="text-align: center">Allocate To Agent</th>
            </thead>
            <tbody>
            <!--          <tr *ngFor="let indexOfElement = index; let item of stockList |filter: searchTag">-->
            <tr *ngFor="let indexOfElement = index; let item of stockList | filter:searchTerm |  paginate: { itemsPerPage: 10, currentPage: p };">
              <td style="text-align: center">{{indexOfElement+1}}</td>
              <td style="text-align: center">{{item.tag | uppercase}}</td>
              <td style="text-align: center">{{item.model_number}}</td>
              <td style="text-align: center">{{item.size}}</td>
              <td  style="text-align: right">{{item.gold}}</td>
              <td  style="text-align: right">{{item.gross_weight}}</td>
              <td style="text-align: right">{{item.amount}}</td>
              <td  style="text-align: right">{{item.quantity}}</td>
              <td style="text-align: center">
<!--                <button mat-icon-button color="primary" aria-label="" [disabled]="item.isSet" (click)="stockSelection(item)" >-->
<!--                  <mat-icon>add</mat-icon>-->
<!--                </button>-->
                <button mat-icon-button color="primary" aria-label="" [disabled]="item.isAgentSet" (click)="stockSelection(item)" >
                  <mat-icon>add</mat-icon>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
          <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            <pagination-controls  id="some_id"
                                  (pageChange)="p=($event)"
                                  maxSize="10"
                                  directionLinks="true"
                                  autoHide="true"
                                  responsive="true"
                                  previousLabel="Previous"
                                  nextLabel="Next"
                                  screenReaderPaginationLabel="Pagination"
                                  screenReaderPageLabel="page"
                                  screenReaderCurrentLabel="You're on page">
            </pagination-controls>
          </div>
        </div>
      </div>
      <div class="col-4" style="text-align: center; background-color: #d9dd9b; padding-top: 10px">
        <h2>Stocks Under Agent </h2>
        <div class="" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="0px" fxLayoutGap.xs="0">

<!--            <mat-form-field  class="col-10"*ngIf="agentData">-->
<!--              <mat-label>Select Agent</mat-label>-->
<!--              <mat-select>-->
<!--                <mat-option *ngFor="let agent of agentData" [value]="agent.id" (blur)="setAgent(agent)">-->
<!--                  {{agent.user_name}}-->
<!--                </mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->

          <div class="container material" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <ng-select [items]="agentData" fxFlex="100"  bindLabel="user_name" [(ngModel)]="selected" (change)="setAgent(selected)" placeholder="Select Agent">
            </ng-select>
          </div>

            <button class="col-3" mat-icon-button color="primary" aria-label="" (click)="searchStocks()" [disabled]="singleAgent === undefined" >
              <mat-icon>search</mat-icon>
            </button>


<!--          &nbsp;&nbsp-->
<!--          <mat-form-field fxFlex="30">-->
<!--            <mat-label> Stock Bill Date</mat-label>-->
<!--            <input matInput-->
<!--                   [(ngModel)]="selectedCustomerData.bill_date"-->
<!--                   [matDatepicker]="picker1"-->
<!--                   (blur)="getDate(bill_date)"-->
<!--                   [min]="minDate"-->
<!--                   [max]="maxDate">-->
<!--            <mat-datepicker-toggle matSuffix [for]="picker1" (blur)="getDate(bill_date)">-->
<!--              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>-->
<!--            </mat-datepicker-toggle>-->
<!--            <mat-datepicker #picker1></mat-datepicker>-->
<!--          </mat-form-field>-->
          <!--          {{selectedCustomerData.bill_date}}-->
        </div>
        <!--        <div *ngIf="billDetailsData.length == 0">-->
        <!--          <h4>No Entry </h4>-->
        <!--        </div>-->
        <!--        <div *ngIf="!stockBillContainer">-->
        <!--          <h4>No Entry </h4>-->
        <!--        </div>-->
<!--        <div  *ngIf="billDetailsData.length>0">-->
<!--          &lt;!&ndash;        <div>&ndash;&gt;-->
        <div style="overflow-y: scroll; height: 70vh">
          <table class="table table-hover">
            <thead style="background-color: lightslategray">
            <th>SL NO.</th>
            <th>Tag</th>
            <th>Model Number</th>
            <th [hidden]="showCheckbox">Delete</th>
            <th [hidden]="!showCheckbox">Select All &nbsp;
              <input type="checkbox" (click)="selectAll()" [checked]="stockDeallocation.length === billDetailsData.length">
            </th>
<!--            <th  [hidden]="!showCheckbox">-->
<!--              <button class="btn btn-info">Select All</button>-->
<!--            </th>-->


            </thead>
            <tbody>
            <tr *ngFor="let indexOfElement = index; let item of billDetailsData">
              <td>{{indexOfElement+1}}</td>
              <td>{{item.tag | uppercase}}</td>
              <td>{{item.model_number}}</td>
              <td [hidden]="showCheckbox" >
                <button mat-icon-button color="accent" aria-label="" (click)="removeFromStockBillEntry(item)" >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
              <td [hidden]="!showCheckbox" >
                <input type="checkbox" (click)="deallocateAgent(item)" [checked]="isChecked">
<!--                <input type="checkbox" (click)="deallocateAgent(item)">-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
<!--          &lt;!&ndash;          <button class="btn badge-info" (click)="stockBillGenerate()">Generate Bill</button>&ndash;&gt;-->
<!--          <button class="btn badge-info" [disabled]="singleAgent === undefined" (click)="updateStockAgent()" [hidden]="showCheckbox || billDetailsData.length === 0">Save</button>&nbsp;&nbsp;&nbsp;-->
<!--          <button class="btn badge-info" [disabled]="singleAgent === undefined" (click)="updateStockAgent()" [hidden]="showCheckbox || billDetailsData.length === 0 || singleAgent === undefined">Allocate to {{singleAgent.user_name}}</button>&nbsp;&nbsp;&nbsp;-->
        <button *ngIf="singleAgent" class="btn badge-info" (click)="updateStockAgent()" [hidden]="showCheckbox || billDetailsData.length === 0">Allocate to {{singleAgent.user_name}}</button>&nbsp;&nbsp;&nbsp;
          <button class="btn badge-info" (click)="deallocateAgents()" [disabled]="stockDeallocation.length === 0" [hidden]="!showCheckbox">Deallocate</button>&nbsp;&nbsp;&nbsp;
<!--          <button class="btn badge-info" (click)="searchStocks()" [disabled]="agentID === undefined" >-->
<!--            <mat-icon>search</mat-icon>-->
<!--            Search</button>&nbsp;&nbsp;&nbsp;-->

<!--          <button class="btn badge-info" (click)="clearStorage()">clear Storage</button>-->

<!--        </div>-->
      </div>
    </mat-card>
  </mat-card>
</div>








<!--<div [hidden]="billView" style="background-color: white">-->

  <!--  <div  fxLayout.xs="column"  fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id ="completed-bill-div" >-->
  <!--    <div  fxFlex="100" class="col" id ="show-billNumber-div" >-->
  <!--      <table class="table">-->
  <!--        <thead>-->
  <!--        <tr>-->
  <!--          <th>SL No.</th>-->
  <!--          <th>Bill Number</th>-->
  <!--          <th>Status</th>-->
  <!--        </tr>-->
  <!--        </thead>-->
  <!--        <tbody>-->
  <!--        <tr  *ngFor="let data of finishedBillData; let indexOfelement = index" >-->
  <!--          <td>{{indexOfelement+1}}</td>-->
  <!--          <td>{{data.bill_number}}</td>-->
  <!--          <td><button  class="btn btn-primary" (click)="getBillDetails(data.id)">View Bill</button></td>-->
  <!--        </tr>-->
  <!--        </tbody>-->
  <!--      </table>-->
  <!--    </div>-->



<!--</div>-->

