<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlexFill id="jobDetail-div">
  <div fxLayout="row" fxFlex="40" class="mr-1" id ="jobBill-div">
    <div fxLayout="column" fxFlex="20" >
    </div>
    <div fxLayout="column" fxFlex="60" style="background-color: white" id="bill-div" >
      <div class="row">
        <div class="col">
          <button
            mat-stroked-button
            [printStyle]="printDivStyle"
            printSectionId="printDiv"
            ngxPrint ><mat-icon>print</mat-icon>
            Print with transaction
          </button>
        </div>
        <div class="col">
          <button
            mat-stroked-button
            [printStyle]="printDivStyle"
            printSectionId="printSummery"
            ngxPrint ><mat-icon>print</mat-icon>
            Print without transaction
          </button>
        </div>
      </div>
    <div id="printDiv">
      <div id="printSummery">
      <mat-card class="ml-2 mt-2">
        <div class="form-container">
          <div class="container" *ngIf="currentJobData" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <label style="text-align: center"><b>Job ID : {{currentJobData.job_number}}</b></label>
            <label>Challan No : &nbsp;{{currentJobData.order_number}}</label>
            <label>Date : &nbsp;{{currentJobData.date | date :'dd/MM/yy'}}&nbsp;&nbsp; DD : {{currentJobData.date_of_delivery | date :'dd/MM/yy'}} </label>
            <label>Model : &nbsp;<b>{{currentJobData.model_number}}</b>&nbsp;&nbsp; Pcs : <b>{{currentJobData.quantity}}</b>&nbsp;&nbsp;Size :<b>{{currentJobData.size}}</b></label>
            <table style=""  *ngIf="totalData">
              <tbody>
              <tr>
                <td colspan="2" class="col-6">Thokai :</td>
                <td colspan="2" class="col-6">Tonch : {{currentJobData.material_name}}</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">Ring W. :</td>
                <td colspan="2" class="col-6">A Wt. : {{currentJobData.approx_gold}}</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">Mina :</td>
                <td colspan="2" class="col-6">Forming :</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">M.C. :</td>
                <td colspan="2" class="col-6">Gold : {{jobDetailSummarised.goldSend }} </td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">H.M.C :</td>
                <td colspan="2" class="col-6" [ngStyle]="isSelectedTask('goldReturn')?{'color':'red'}: {'color':'blue'}">RGW- :{{jobDetailSummarised.goldReturn}}</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">H.C. :</td>
                <td colspan="2" class="col-6">PWt. :</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">Polish :</td>
                <td colspan="2" class="col-6"  >NGR- : {{jobDetailSummarised.nitricReturn  | number : '1.3'}}</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6" [ngStyle]="isSelectedTask('dalSend')?{'color':'red'}: {'color':'blue'}">Dal: {{jobDetailSummarised.dalSubmit  | number : '1.3'}}</td>
                <td colspan="2" class="col-6">Pan+ : {{jobDetailSummarised.panSubmit  | number : '1.3'}}</td>
              </tr>

              <tr>
                <td colspan="2" class="col-6">DalR-: {{jobDetailSummarised.dalReturn  | number : '1.3'}}</td>
                <td colspan="2" class="col-6">PanR- : {{jobDetailSummarised.panReturn  | number : '1.3'}}</td>
              </tr>

              <tr>
                <td colspan="2" class="col-6">Bnz : {{jobDetailSummarised.bronzeSubmit  | number : '1.3'}}</td>
                <td colspan="2" class="col-6">PLoss+ :{{currentJobData.p_loss}}</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6">Bati No :</td>
                <td colspan="2" class="col-6">FG Wt. : {{FGWt.toFixed(3)}}</td>
              </tr>
              <tr>
                <td colspan="2" class="col-6"></td>
                <td colspan="2" class="col-6">B. Wt. : {{totalData[0].gross_weight}}</td>
              </tr>
              </tbody>
            </table>
            <label>Karigarh:<b> {{karigarhName}}</b> </label>
            <label>User: {{userData.userName}}</label>
            <label>POS:</label>
            <label>Time:</label>
            <br><br><br>
          </div>
        </div>
      </mat-card>
      </div>
      <div *ngIf="jobTransactionData?.length" class="col-12">
        <div id ="job-transaction-table-div">
          <table class="table" style="" id="my-table">
            <thead>
            <tr>
              <th colspan="2">SL. NO</th>
              <th colspan="6">Statement For Transaction</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of jobTransactionData ; let indexOfelement = index;">
              <td colspan="2">{{indexOfelement+1}}</td>
              <td colspan="6">{{item.material_quantity.toFixed(3)}}gm {{item.task_name}}ed by {{item.person_name}} on {{item.date}} at {{item.time}} &nbsp;&nbsp;&nbsp;{{((indexOfelement+1)==1)? "[JOB STARTED]": " "}}</td>
            </tr>
<!--            <tr [hidden]="!(jobTransactionData.length === 0)">-->
            <tr *ngIf="!jobTransactionData?.length">

              <td colspan="2"> </td>
              <td colspan="6">NO TRANSACTION TO SHOW</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>


  </div>

  <div fxLayout="column" fxFlex="60" class="mr-1" id ="jobTask-div" style="background-color: #e8af0a" *ngIf="currentJobData">
<!--    <div class="m-2">-->
<!--      <button type="button"  class="btn btn-warning" [hidden]="oneJobData.status_id==100" [routerLink]="['./goldReturn']">Gold Return</button>-->
<!--      <button type="button"  class="btn btn-primary" [hidden]="oneJobData.status_id==100" [routerLink]="['./dalSubmit']">Dal Submit</button>-->
<!--      <button type="button" class="btn btn-warning"  [hidden]="oneJobData.status_id==100" [routerLink]="['./bronzeSubmit']">Bronze Submit</button>-->
<!--      <button type="button" class="btn btn-primary"  [hidden]="oneJobData.status_id==100" [routerLink]="['./panSubmit']">Pan Submit</button>-->
<!--      <button type="button" class="btn btn-warning"  [hidden]="oneJobData.status_id==100" [routerLink]="['./panReturn']">Pan Return</button>-->
<!--      <button type="button" class="btn btn-primary"  [hidden]="oneJobData.status_id==100" [routerLink]="['./dalReturn']">Dal Return</button>-->
<!--      <button type="button" class="btn btn-warning"  [hidden]="oneJobData.status_id==100" [routerLink]="['./goldSubmit']">Gold Submit</button>-->
<!--      <button type="button" class="btn btn-primary"  [hidden]="oneJobData.status_id==100" [routerLink]="['./nitricReturn']">Nitric Return</button>-->
<!--      <button type="button" class="btn btn-warning" [routerLink]="['./job_finish']">Finish</button>-->
<!--      <button type="button" class="btn btn-primary"  [hidden]="oneJobData.status_id==100"   [routerLink]="['./job_transaction']">Details</button>-->
<!--    </div>-->
    <div>
      <button mat-icon-button color="warn"  aria-label="Edit Customer" [routerLink]="['/job_task']" >
        <mat-icon> call_missed</mat-icon>
      </button>
    </div>
    <div class="m-2" *ngIf="true"  >
      <button mat-raised-button style="background-color: rgb(204, 199, 175)" class="btn ml-2 mt-1 mb-1" [matBadge] = "jobBadges.goldReturnBadge" matBadgePosition="above before" [ngStyle]="selectedColor('goldReturn')"  [disabled] ="isSelectedTask('goldReturn')" [hidden]="currentJobData.status_id==100" [routerLink]="['./goldReturn',currentJobId]" (click)="setSelectedTask('goldReturn')">Gold Return</button>
      <button mat-raised-button style="background-color: rgb(201, 191, 191)" class="btn ml-2 mt-1 mb-1" [matBadge] = "jobBadges.dalSendBadge" matBadgePosition="above before" [ngStyle]="selectedColor('dalSend')" [disabled] = "isSelectedTask('dalSend')" [hidden]="currentJobData.status_id==100" [routerLink]="['./dalSubmit',currentJobId]" (click)="setSelectedTask('dalSend')">Dal Submit</button>
      <button mat-raised-button style="background-color: rgb(176, 204, 185)" class="btn ml-2 mt-1 mb-1" [matBadge] = "jobBadges.bronzeSendBadge" matBadgePosition="above before" [ngStyle]="selectedColor('bronzeSend')" [disabled] = "isSelectedTask('bronzeSend')" [hidden]="currentJobData.status_id==100" [routerLink]="['./bronzeSubmit',currentJobId]" (click)="setSelectedTask('bronzeSend')">Bronze Submit</button>
      <button mat-raised-button style="background-color: rgb(180, 190, 209)" class="btn ml-2 mt-1 mb-1" [matBadge] = "jobBadges.panSendBadge" matBadgePosition="above before" [ngStyle]="selectedColor('panSend')" [disabled] = this.btnControl [hidden]="currentJobData.status_id==100" [routerLink]="['./panSubmit',currentJobId]">Pan Submit</button>
      <button mat-raised-button style="background-color: rgb(218, 202, 201)" class="btn ml-2 mt-1 mb-1" [matBadge] = "jobBadges.panReturnBadge" matBadgePosition="above before" [ngStyle]="selectedColor('panReturn')" [disabled] = this.btnControl [hidden]="currentJobData.status_id==100" [routerLink]="['./panReturn',currentJobId]">Pan Return</button>
      <button mat-raised-button style="background-color: rgb(174, 175, 175)" class="btn ml-2 mt-1 mb-1" [matBadge] = "jobBadges.dalReturnBadge" matBadgePosition="above before" [ngStyle]="selectedColor('dalReturn')" [disabled] = this.btnControl [hidden]="currentJobData.status_id==100" [routerLink]="['./dalReturn',currentJobId]">Dal Return</button>
      <button mat-raised-button style="background-color: rgb(182, 155, 170)" class="btn ml-2 mt-1 mb-1" [matBadge] = "jobBadges.goldSendBadge" matBadgePosition="above before" [ngStyle]="selectedColor('goldSend')" [disabled] = this.btnControl [hidden]="currentJobData.status_id==100" [routerLink]="['./goldSubmit',currentJobId]">Gold Submit</button>
      <button mat-raised-button style="background-color: rgb(163, 211, 205)" class="btn ml-2 mt-1 mb-1" [matBadge] = "jobBadges.nitricReturnBadge" matBadgePosition="above before" [ngStyle]="selectedColor('nitricReturn')" [disabled] = this.btnControl [hidden]="currentJobData.status_id==100" [routerLink]="['./nitricReturn',currentJobId]">Nitric Return</button>
<!--      <button type="button" class="btn btn-warning" [disabled] = this.btnControl [hidden]="oneJobData.status_id==100" [routerLink]="['./job_finish']">Finish</button>-->
      <button mat-raised-button class="btn btn-light ml-2 mt-1 mb-1" [matBadge]="finishBadgeValue" matBadgePosition="above before" [ngStyle]="selectedColor('finishJob')" [disabled] = this.btnControl [hidden]="currentJobData.status_id==100" [routerLink]="['./job_finish']">Finish</button>
    </div>
<!--    this is used to change the detail button look-->
    <div class="example-button-row">
      <a mat-fab [routerLink]="['./job_transaction']">Details</a>
    </div>
<!--    <button type="button" class="btn btn-primary" [routerLink]="['./job_transaction']">Details</button>-->
    <div>
      <router-outlet ></router-outlet>
    </div>

<!--    <div>-->
<!--      <pre>{{totalData | json}}</pre>-->
<!--    </div>-->
  </div>

</div>

<!--To enable developer div in development-->
<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch"  *ngIf="!isProduction">
  <mat-slide-toggle [(ngModel)]="showDeveloperDiv">Slide Toggle Checked: {{showDeveloperDiv}}</mat-slide-toggle>
</div>

<!--This is developer div-->
<div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between stretch"  id="developer-div" *ngIf="showDeveloperDiv && !isProduction">
  <div fxLayout="column" fxFlex="25" class="mr-1" style="background-color: #dddddd">
    <pre>
      savedJobsData = {{savedJobsData | json}}
      ---------------------------------------
      karigarhData = {{karigarhData | json}}
      ---------------------------------------
      materialList = {{materialList | json}}
    </pre>
  </div>
  <div fxLayout="column" fxFlex="25" class="mr-1" style="background-color: #d9dd9b">
    <pre>
        jobDetailSummarised = {{jobDetailSummarised | json}}
    </pre>
  </div>
  <div fxLayout="column" fxFlex="25" class="mr-1" style="background-color: #dddddd">
    <pre>
      jobBadges = {{jobBadges | json}}
    </pre>
  </div>
  <div fxLayout="column" fxFlex="25" class="mr-1" style="background-color: #d9dd9b">
    <pre>

    </pre>
  </div>
</div>



