<div fxLayout.xs="column" fxLayout="row" fxFlexFill>
  <div fxFlex="50" id="left-div">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Customer Form</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="customerForm">
          <!--          product name-->
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="50">
              <mat-label><fa-icon [icon]="faUserAlt"></fa-icon>&nbsp;Customer Name</mat-label>
              <input type="text" (blur)="copyLedgerNameToBillingName()" matInput formControlName="ledger_name" placeholder="Customer Name">
              <mat-hint>Enter any unique customer name</mat-hint>
<!--              <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0"
*ngIf="!customerForm.get('ledger_name').valid && customerForm.get('ledger_name').touched">-->
<!--                <mat-error *ngIf="productForm.get('product_name').errors['required']">Product is required</mat-error>-->
<!--                <mat-error *ngIf="productForm.get('product_name').errors['minlength']">Minimum length of product is {{productForm.get('product_name').errors.minlength.requiredLength}}</mat-error>-->
<!--                <mat-error *ngIf="productForm.get('product_name').errors['maxlength']">Maximum length of product is {{productForm.get('product_name').errors.maxlength.requiredLength}}</mat-error>-->
<!--                <mat-error *ngIf="validatorError!=null && validatorError.ledger_name">{{validatorError.ledger_name[0]}}</mat-error>-->
<!--              </div>-->
            </mat-form-field>
          </div>

          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="50">
              <mat-label>Billing Name</mat-label>
              <input type="text" (click)="$event.target.select()" matInput formControlName="billing_name" placeholder="Billing Name">
            </mat-form-field>
          </div>

          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="40">
              <mat-label>Customer Category</mat-label>
              <mat-select  formControlName="customer_category_id" placeholder="Category">
                <mat-option *ngFor="let customerCategory of customerCategories" [value]="customerCategory.id">
                  {{customerCategory.customer_category_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="30">
              <mat-label><fa-icon [icon]="faEnvelope"></fa-icon>&nbsp;Email</mat-label>
              <input type="email" matInput formControlName="email" placeholder="Email">
            </mat-form-field>

            <mat-form-field fxFlex="30">
              <mat-label><fa-icon [icon]="faMobileAlt"></fa-icon>&nbsp;Mobile1</mat-label>
              <input type="text" matInput formControlName="mobile1" placeholder="mobile1">
            </mat-form-field>

            <mat-form-field fxFlex="30">
              <mat-label><fa-icon [icon]="faMobile"></fa-icon>&nbsp;Mobile2</mat-label>
              <input type="text" matInput formControlName="mobile2" placeholder="mobile2">
            </mat-form-field>
          </div>

          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="70">
              <mat-label>Address1</mat-label>
              <input type="email" matInput formControlName="address1" placeholder="Address1">
            </mat-form-field>
          </div>
          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="70">
              <mat-label>Address2</mat-label>
              <input type="text" matInput formControlName="address2" placeholder="Address2">
            </mat-form-field>
          </div>

          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="20">
              <mat-label>State</mat-label>
              <mat-select  formControlName="state_id">
                <mat-option *ngFor="let state of states" [value]="state.id">
                  {{state.state_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="20">
              <mat-label>Po</mat-label>
              <input type="text" matInput formControlName="po" placeholder="Po">
            </mat-form-field>

            <mat-form-field fxFlex="30">
              <mat-label>Area</mat-label>
              <input type="text" matInput formControlName="area" placeholder="Area">
            </mat-form-field>

          </div>

          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="20">
              <mat-label>City</mat-label>
              <input type="text" matInput formControlName="city" placeholder="city">
            </mat-form-field>

            <mat-form-field fxFlex="20">
              <mat-label>Pin</mat-label>
              <input type="text" matInput formControlName="pin" placeholder="Pin">
            </mat-form-field>
          </div>

          <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
            <mat-form-field fxFlex="20">
              <mat-label>Transaction type</mat-label>
              <mat-select  formControlName="transaction_type_id">
                <mat-option *ngFor="let transactionType of transactionTypes" [value]="transactionType.id">
                  {{transactionType.formal_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="20">
              <mat-label>Opening balance</mat-label>
              <input type="text" (click)="$event.target.select()" class="text-right" matInput formControlName="opening_balance" placeholder="Opening balance">
            </mat-form-field>
          </div>


        </form>
      </mat-card-content>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
        <button [disabled]="customerForm.invalid" *ngIf="!customerForm.value.id"  (click)="onSubmit()" mat-button>Save</button>
        <button (click)="onUpdate()" [disabled]="customerForm.invalid || customerForm.dirty==false" *ngIf="customerForm.value.id" mat-button>Update</button>
        <button [disabled]="!customerForm.dirty && !customerForm.value.id"  (click)="clearCustomerForm()" mat-stroked-button>clear</button>
      </div>
    </mat-card>

<!--    <pre>validatorError = {{validatorError | json}}</pre>-->
  </div>
  <div fxFlex="50" id="right-div">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><fa-icon [icon]="faUserAlt"></fa-icon>&nbsp;Customer List</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <table class="table table-bordered table-responsive" id="customer-list" width="100%">
            <thead>
            <tr>
              <th>SL</th>
              <th>Name</th>
              <th>Mobile</th>
              <th>Address</th>
              <th>Opening</th>
              <th class="text-center" colspan="2">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr [class.editable-row]="updateableCustomerID === customer.id" *ngFor="let customer of customers | paginate: { itemsPerPage: pageSize, currentPage: p };let indexOfElement=index">
              <td>{{(p-1)*10+indexOfElement+1}}</td>
              <td>{{customer.ledger_name}}</td>
              <td>{{customer.mobile1}}</td>
              <td>{{customer.address1}}</td>
              <td style="white-space: nowrap;" class="text-right">{{customer.opening_balance | currency:"&#8377; "}}</td>
              <td>
                <span  (click)="populateCustomerForm(customer)"><fa-icon class="edit" [icon]="faUserEdit"></fa-icon></span>
              </td>
              <td>
                <span (click)="deleteCustomer(customer.id)"><fa-icon class="delete" [icon]="faTrashAlt"></fa-icon></span>
              </td>
            </tr>
            </tbody>
          </table>
      </mat-card-content>
      <mat-card-actions>
        <div fxLayout.xs="column" fxLayout="column" fxFlexFill>
          <!--    https://www.npmjs.com/package/ngx-pagination-->
          <!--    npm i ngx-pagination-->
          <pagination-controls (pageChange)="p = $event"
                               responsive="true"
                               autoHide="true"
                               previousLabel="আগে"
                               nextLabel="পরে"
                               screenReaderPaginationLabel="Pagination"
                               screenReaderPageLabel="page"
                               directionLinks="true">
          </pagination-controls>
        </div>
      </mat-card-actions>
    </mat-card>


  </div>
</div>
<div fxLayout.xs="column" id="developer-area" fxLayout="row" fxFlexFill *ngIf="true">

  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area</h2>
      </mat-card-header>
      <mat-card-content>
        <pre>
          valid = {{customerForm.valid | json}}
          invalid = {{customerForm.invalid | json}}
          dirty = {{customerForm.dirty | json}}
          enabled = {{customerForm.enabled | json}}
          disabled = {{customerForm.disabled | json}}
          touched = {{customerForm.touched | json}}
          untouched = {{customerForm.untouched | json}}
          errors = {{customerForm.errors | json}}
          status = {{customerForm.status | json}}
        </pre>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card class="example-card">
      <mat-card-header>
        <h2 style="color: #c4c6ca;">Developer Area</h2>
      </mat-card-header>
      <mat-card-content>
        <pre>
          isCustomerFormValue= {{isCustomerFormEmpty()}}
          customerForm = {{customerForm.value | json}}
          defaultCustomerFormValue = {{defaultCustomerFormValue | json}}
        </pre>
      </mat-card-content>
    </mat-card>
  </div>
</div>


