<div>
  <mat-card class="ml-2 mt-2" >
    <div class="form-container">
      <form [formGroup] = jobTaskForm>
        <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutAlign="start" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <div class="container" fxLayout="row">
            <h2 class="m-3">Dal Submit</h2>
<!--            <h2 class="m-3" *ngIf="oneJobData.material_name">{{oneJobData.material_name}}</h2>-->
            <h2 class="m-3" >Dal</h2>
          </div>
          <div class="container" fxLayout="row">
            <mat-form-field class="col-2">
              <input matInput placeholder="Size" [readonly]="true" formControlName="size">
            </mat-form-field>
            <mat-form-field class="col-2">
              <input  style ="text-align: right;" type="text" matInput placeholder="Quantity" (change)="material_quantity_decimal()" formControlName="return_quantity">
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end" fxLayoutGap="10px" fxLayoutGap.xs="0" >
        <button mat-button  mat-stroked-button class="btn btn-primary" (click)="onSubmit()" >Save</button>
        <button mat-button  mat-stroked-button class="btn btn-primary" (click)="getTotal()" >Get Detail</button>
      </div>
    </div>
    <div  class="col-12" [hidden]="!showJobTaskData">
      <table class="jobTaskData-table-div col-12">
        <thead>
        <th colspan="3" style="text-align: center">SL No.</th>
        <th colspan="3" style="text-align: center">Task Name </th>
        <th colspan="3" style="text-align: center">Quantity</th>
        <th colspan="3" style="text-align: center">User Name</th>
        <th colspan="3" style="text-align: center">Date</th>
        </thead>
        <tbody>
        <tr  *ngFor="let data of jobTaskData ; let indexOfelement = index;">
          <td colspan="3" style="text-align: center">{{indexOfelement+1}}</td>
          <td colspan="3" style="text-align: center">Dal Submit</td>
          <td colspan="3" style="text-align: right">{{data.material_quantity.toFixed(3)}}</td>
          <td colspan="3" style="text-align: center">{{data.person_name}}</td>
          <td colspan="3" style="text-align: center">{{data.date}} &nbsp;&nbsp;{{data.time}}</td>
        </tr>
        <tr>
          <td colspan="3"  style="text-align: center ; background-color: yellow; font-weight: bolder">Total</td>
          <td colspan="3"  style="text-align: center ; background-color: yellow; font-weight: bolder">Dal Submit</td>
          <td colspan="3"  style="text-align: right ; background-color: yellow; font-weight: bolder">{{total.toFixed(3)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
</div>
