#create-bill-div{
  width: 100%;
  min-height: 100% !important;
  padding: 10px;
  background: rgb(102,0,255);
  background: linear-gradient(90deg, rgba(102,0,255,1) -57%, rgba(172,240,244,0.7231093120842087) 10%);
}
